.lesson-content {
  padding-bottom: 60px;

  h3 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
    color: $text-primary;
    font-size: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    @include media-breakpoint-down(md) {
      &:before {
        @include internal-link-offset();
      }
    }
  }

  h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: $text-primary;
    font-size: 18px;
    letter-spacing: 0.3px;
  }

  p {
    margin-bottom: 30px;
    line-height: 1.9;
    color: $text-primary;
    word-break: break-word;
  }

  pre {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    border-radius: 10px;
  }

  li {
    color: $grey;
    font-size: 1.125rem;
  }

  ul,
  ol {
    line-height: 1.9;
  }

  ul, ol {
    padding-left: 1.25em;
    color: $grey;
    line-height: 1.9;
    margin-bottom: 50px;

    li {
      border: none;
      list-style-type: disc;
    }
  }

  li {
    ul {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
    padding: 1em 0;
  }

  code {
    word-wrap: break-word;
  }

  &__panel {
    background-color: $white-smoke;
    padding: 1.5em;
    margin: 20px 0 50px 0;
    border-radius: 10px;

    ul:first-child {
      margin-bottom: 0;
    }

    li,
    p {
      color: $text-primary;
    }

    h4:not(:first-child) {
      margin-top: 50px;
    }

    li {
      margin: 15px 0;
    }
  }

  &__small-image {
    width: auto !important;
  }

  details {
    summary {
      color: $grey;
      font-size: 1.125rem;
    }

    ul {
      margin: 15px;
    }
  }

  details:last-child {
    margin-bottom: 30px;
  }

  details .dropDown-header {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;
    color: $text-primary;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  blockquote {
    border-left: solid 1px $grey;
    padding-left: 1em;
  }

  .cp_embed_wrapper {
    margin-bottom: 30px;
  }

  .knowledge-check-link {
    color: $primary;
    text-decoration: underline;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    & > code {
      color: $pink;
    }
  }
}
