.lesson-content {
  margin-top: 50px;
  padding-bottom: 60px;

  h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $primary;
    margin: 50px 0;
  }

  h3 {
    margin: 50px 0 25px;
    font-weight: bold;
    color: $grey;
    font-size: 18px;
    letter-spacing: 0.2px;
  }

  p {
    margin-bottom: 30px;
  }

  li {
    color: $grey;
    font-size: 1.125rem;
    }

  ul, ol {
    line-height: 1.88;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1em;
  }

  img {
    width: 100%;
    height: 100%;
    padding: 1em 0;
  }
}
