.lesson-button-group {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &__item {
    margin: 0 20px;

    @include media-breakpoint-down(md) {
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
}
