<div class="row beliefs">
  <h2 class="text-center beliefs-heading">Our Beliefs</h2>
    <% beliefs.each do |belief| %>
      <%= render 'belief', belief: belief %>
    <% end %>
</div> <!-- /.beliefs -->
