 <div class="studygroup-side pull-left" >   <!-- changed #side to .studygroup-side -->
  <h3>JavaScript Study Group</h3>

  <p>This is a free weekly study group on Sundays at 6pm US Pacific time for people learning JavaScript and web development. We are building a community of learners to support each other in our path to code. We'll meet online over google hangouts, go over our efforts, and help each other get unstuck.</p>

  <p>The link to the hangout which starts at each Sunday at 6pm will be posted by 5:45pm on the Odin Project <a href="http://www.theodinproject.com/introduction-to-web-development" target="_blank">google plus community</a>.</p>

    <strong><p>Study group leader: <a href='mailto:odinjsgroup@rueif.com'>Matt</a></p></strong>

   <h4>Prerequisites</h4>
   <ul>
     <li>Basic knowledge of web and web browers. No prior experience is necessary, but you may want to review <a href="http://www.theodinproject.com/introduction-to-web-development" target="_blank">Intro to Web Development</a>.
     </li>
     <li>Be comfortable with google hangouts. If you haven't been in a hangout, please try to practice before joining on Sunday. Feel free to email Matt if you have questions.
     </li>
   </ul>
    
</div><!-- .studygroup-side -->  

<div class="studygroup-content pull-left" >
  <h4>Study-group Goals</h4>
   <ul>
     <li>Be a resource for beginners studying JavaScript</li>
     <li>Meet at least weekly to discuss efforts, problems, and their solutions</li>
     <li>Keep schedule flexible based on participants needs</li>
     <li>Comradery, and inspiration from fellow devs on the same track</li>
     <li>Build a community of JavaScript developers willing to help and collaborate</li>
   </ul>
     
            
</div>     <!-- .studygroup-content -->
<div style="clear:both"></div>
