 <div class="studygroup-side pull-left" >
  <h3>Starting Your Own</h3>

  <p>
    These study groups are pretty ad-hoc -- they are run by students.  If you'd like to start one, you're welcome to cover any material you want at any pace you want.
  </p>
  <p>
    For instance, you could set up a daily Ruby study group that covers any questions people have about Ruby or you could have a weekly group that marches through the Javascript course at your own pace.
  </p>

  <h3>How it works</h3>

  <p>
    Each study group has its own tab on this /studygroups page (as you can see) and each of these tabs is maintained by the leader of that study group. 
  </p>
  <p>
    So if you want to lead a study group, just fork this project and create your own tab, then submit it as a pull request to the `dev` branch of the main repo.  It's the same flow (though less intense) that we describe in the <%= link_to "Contributing section", contributing_path %>.
  </p>
  <p>
    You should be able to cut and paste code from the other tabs.  This is currently just one giant HTML file.  
  </p>
  <p>
    Disclaimer: This isn't the best way to do things, but we're still figuring out what we'll need to actually build in the future :)
  </p>
</div>


<div class="studygroup-content pull-left" >
  <h3>Leading a Study Group FAQ</h3>
    
  <ul>
    <li><strong>
      Why do people start these groups?
    </strong></li>
    <li>
      So far, the biggest reason has been so the leader can motivate him/herself to go through the material.  A nice side benefit is having other people to bounce questions off of.
    </li>
    <li><strong>
      What topics should I cover?
    </strong></li>
    <li>
      Anything you want! You could start in the middle, at the beginning, in the projects... if it's useful material to you, then it'll probably be useful for someone else too.
    </li>
    <li><strong>
      How often should we meet?
    </strong></li>
    <li>
      As often as you want.  Weekly seems to be good based on the groups so far.
    </li>
    <li><strong>
      How much code do I need to know?
    </strong></li>
    <li>
      Not much.  As an organizer, you just need to be able to edit this HTML page to keep your group schedule current from week-to-week.  As for the material itself that you'll be covering, you could already know it and offer to help people who don't or you could be learning it yourself at the same time.
    </li>
    <li><strong>
      How long do I need to lead the group?
    </strong></li>
    <li>
      As long as you want, though please give your students notice if you'll be discontinuing it (and remove its tab from this page).
    </li>
    <li><strong>How do I set up the video hangout?</strong></li>
    <ol>
      <li>Join our <%= link_to "Google Group", "https://plus.google.com/u/0/communities/100013596437379837846" %>, where we keep up with the development of this whole project.</li>
      <li>Set up a <%= link_to "Google Hangout on Air", "https://plus.google.com/hangouts/onair" %> and invite our google group ("Team Odin").  When you create the Hangout on Air, it will also create a Google Event for whenever you've scheduled the Hangout on Air</li>
      <li>Include the link to that Event in your study group tab (see the examples on other tabs, which have a link to each week's session)</li>
      <li>When it's time, "start" the Hangout on Air from the Event page.  It will take you to the Hangout window.  If you're in the Chrome browser (not Safari), you'll see an address bar at the top with the link to that Hangout.  Copy and paste that link into the Google Event page comments so everyone else in your group can join you.  Sometimes people may need to log out then try to follow the link (I don't know why).</li>
      <li>When you're ready to get started, click the "Start Broadcast" button from within the Hangout to begin broadcasting.  It will save the whole thing to your YouTube account when you're done.</li>
      <li>Cover your material, assign homework, and update your tab with the next week's links/assignments.  You can save time by scheduling events and Hangouts weeks in advance.</li>
    </ol>
  </ul>
  <p><em>If you have additional questions, please reach out to us as described on the <%= link_to "Contact Page", contact_path %></em></p>
  

  <p><strong>Stop by the <a href="https://plus.google.com/u/0/b/112041900311777032328/communities/100013596437379837846" target="_blank">
    Team Odin Google Community</a> anytime for help, support, or technical issues.  And have fun!</strong><br>
  </p>
            
</div>     <!-- .studygroup-content -->
<div style="clear:both"></div>