  <div class="navbar navbar-top">
    <div id="top-navbar-splash">
      <div class="container">
        <div id="logo">
          The Odin Project
        </div>
        <div class="login-link pull-right">
          <%= link_to "login", "#{login_path}?a=true" %>
        </div>
      </div>
    </div>
  </div>