  <div class="navbar navbar-top">
    <div id="top-navbar-splash">
      <div class="container">
        <div class="brand-box">
          <div class="splash">
            <a href=<%= home_url %>>
              <%= image_tag "odin_head_silhouette_2_circle_simple_transparent.gif", :class=>"logo-img" %>
              <span class="logo-text">
                The Odin Project
              </span>
            </a>
          </div>
        </div>
        <div class="login-link pull-right">
          <%= link_to "login", "#{login_path}?a=true" %>
        </div>
      </div>
    </div>
  </div>