<div class="StaticPagesController">
  <div class="container about">
    <div class="intro row">
        <h1>About the Odin Project</h1>
        <p>The Odin Project is one of those "What I wish I had when I was learning" resources.  Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.</p>
    </div>
    <div class="mission row">
        <h2>We Believe</h2>
        <div class="row">
          <div class="leftcol">
            <img src="/assets/about_page/img-education.svg" class="topic-img">
          </div>
          <div class="rightcol">
            <h3>Education should be free and accessible</h3> 
            <p> This curriculum itself is free and we tried to link to resources that are themselves free so anyone in the world can use them.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <img src="/assets/about_page/img-build.svg" class="topic-img">
          </div>
          <div class="rightcol">
            <h3>You learn best by actually building</h3> 
            <p>Odin's curated project-based curriculum helps you build a strong portfolio of work on Github.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <img src="/assets/about_page/img-people.svg" class="topic-img">
          </div>
          <div class="rightcol">
            <h3>Motivation is fueled by working with others</h3>  
            <p>We're committed to connecting students together so they can stay motivated and learn faster.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <img src="/assets/about_page/img-opensource.svg" class="topic-img">
          </div>
          <div class="rightcol">
            <h3>Open source is best</h3>
            <p>Our curriculum is available on Github (under CC) and so is the source code for this website (under the MIT).</p>
          </div>
        </div>
    </div>
    <div class="story row light-grey">
        <h2>The Story of the Odin Project</h2>
        <div class="row">
          <div class="leftcol">
            <h3>2001</h3>
          </div>
          <div class="rightcol">
            <p class="goldbar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <h3>2005</h3>
          </div>
          <div class="rightcol">
            <p class="goldbar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <h3>2010</h3>
          </div>
          <div class="rightcol">
            <p class="goldbar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <h3>2011</h3>
          </div>
          <div class="rightcol">
            <p class="goldbar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="row">
          <div class="leftcol">
            <h3>2016</h3>
          </div>
          <div class="rightcol">
            <p class="goldbar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
    </div>
    <div class="contact row">
      <div class="leftcol">
        <img src="/assets/odin-logo.svg" class="img-responsive" alt="Odin logo">
      </div>
      <div class="rightcol light-grey">
        <h2>Want to contact us?</h2>
        <p>Connect with our friendly community on gitter, a chat and networking platform.</p>
        <a class="contact-cta">Chat on Gitter</a>
      </div>
    </div>
    <div class="contribute row">
        <h2>Help the Odin Project stay current and meaningful to all future students, please contribute</h2>
        <a class="contribute-cta">Learn how to contribute</a>
    </div>
  </div>
</div>