<div class="StaticPagesController">
  <div class="container about">
    
    <h1>About The Odin Project</h1>
    <div  class="intro">
      <p>
        The Odin Project is one of those "What I wish I had when I was learning" resources.  Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.
    </div>

  <div class="mission">
        <h2>We Believe</h2>
        <ol>

        <li>
          <img src="/assets/about_page/img-education.svg">
          <span class="belief-heading">Education should be free and accessible</span> 
          <p>
            This curriculum itself is free and we tried to link to resources that are themselves free so anyone in the world can use them.
          </p>
        </li>
        <li>
          <img src="/assets/about_page/img-build.svg">
          <span class="belief-heading">You learn best by actually building</span> 
          <p>
            Odin's curated project-based curriculum helps you build a strong portfolio of work on Github.
          </p>
        </li>
        <li>
          <img src="/assets/about_page/img-people.svg">
          <span class="belief-heading">Motivation is fueled by working with others</span>  
          <p>
            We're committed to connecting students together so they can stay motivated and learn faster.  
          </p>
        </li>
        <li>
          <img src="/assets/about_page/img-opensource.svg">
          <span class="belief-heading">Open source is best</span>
          <p>
            Our curriculum is available on Github (under CC) and so is the source code for this website (under the MIT).  
          </p>
        </li>

      </ol>
  </div>
  
  <div class="history">
      <h2 class="colors-heading">How it All Started</h2>
      <h3>2001</h3><p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <h3>2005</h3>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <h3>2010</h3>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <h3>2011</h3>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <h3>2016</h3>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
  </div>

  <div class="contact">
    <img src="/assets/odin-logo.svg" alt="Odin logo">
        <h2>Want to contact us?</h2>
  
      <p>
        Connect with our friendly community on gitter, a chat and networking platform.
      </p>
      <button class="button-primary">Chat on Gitter</button>
  </div>
  <div class="contribute">
    <h1>Help the Odin Project stay current and meaningful to all future students, please contribute</h1>
    <button>Learn how to contribute</button>
  </div>

  </div>
</div>