<%= title('Before Asking') %>

<div class="gradient pb-1">
  <div class="col-xl-8 offset-xl-2">
    <div class="lesson-content">
      <% f = File.open('app/views/static_pages/dashboard_steps/before_asking.md', 'r:UTF-8') %>
      <%= MarkdownConverter.new(f.read).as_html.html_safe %>
      <% f.close %>
    </div>
  </div>
</div>