<div class="StaticPagesController">
  <div class="container">
    <h1>Chat</h1>
      <p>We use <a href="https://slack.com/">slack</a> to communicate within our community. Please utilize it to meet others working through the Odin Project, get help when you are stuck, share your finished projects or just talk with other like minded individuals who are going through the same journey you are.


      <h3> Registering for the chat </h3>
        <ul>
        <li>To join the chat you will need an invite, which you can get by clicking the Register button below.</li>
        <li>Follow the instructions on the invite page.</li>
        </ul>
        <p>
        That's it -- you are now part of the Odin community.
        Introduce yourself in the #general channel and make sure to have fun!
      </p>


       <p><b>If you are already registered, click the "Join Chat Now" button to enter the chat rooms.<b><p>
       <div class="chat-actions clear-fix">
          <%= link_to "Register",  "https://odinproject.herokuapp.com", class: "btn btn-primary btn-large chat-btn"%>

          <%= link_to "Join Chat Now",  "https://odinproject.slack.com", class: "btn btn-success btn-large chat-btn"%>
      </div>
  </div>
</div>