<div class="StaticPagesController">
  <div class="container">
    
    <h1>Contributing to the Project</h1>

    <p> 
      You can contribute either to the curriculum content directly or the main website.  Both repos are on Github at the links below.  If you'd like to help out in other ways, please <%= link_to "contact us", contact_path %> directly.
    </p>

    <p>
      <%= link_to "Contributing to the Curriculum", "https://github.com/TheOdinProject/curriculum/blob/master/contributing.md" %>
    </p>
    <p>
      <%= link_to "Contributing to the Main Site", "https://github.com/TheOdinProject/theodinproject" %>
    </p>


  </div>
</div>