<div class="StaticPagesController">
  <div class="container">
    
    <h1>Contact Us</h1>
    <p><strong>Our directory is a bit complicated, so please pay attention:</strong></p>
    <p>If you'd like to get in touch, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>If you'd like to provide moral support, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>If you'd like to possibly contribute, <em>please visit the <%= link_to "contributing page", contributing_path %> or contact us <a href="mailto: contact@theodinproject.com">here</em></a>.</p>
    <p>If you've located dead links, typos or bugs and don't want to do a pull request, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p> 
    <p>If you'd like to vent your ire at how your life hasn't shaped up the way you hoped it would, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>If you'd like to rage and troll about the project itself, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>If you'd like to test out that new joke you learned, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>If you'd like to provide unsolicited advice, donations, or tips for good places to hike in the Bay Area, <em>please contact us <a href="mailto: contact@theodinproject.com">here.</em></a></p>
    <p>Else, what are you here for?</p>


  </div>
</div>