<div class="contributing">
  <div class="container">
    <div id="intro">
      <h1>How to Contribute</h1>
      <p>
        <strong>The Odin Project</strong>
        is crowdsourced. It is built both by experienced engineers and by people who are currently learning to code
        <em>just like you</em>. Regardless of your experience, you can contribute... in fact, we hope you do! Even if you don't feel ready, you can still get involved and observe until you're comfortable.
      </p>

      <p>There are two main ways you can contribute:</p>

      <h3>1) Contribute to the Curriculum</h3>
      <p>Anyone with any experience level can contribute to the curriculum.  Students in particular are encouraged to do this, especially if you are just starting out!</p>
      <p>Contributing to the curriculum involves:</p>
      <ul>
        <li>Adding your own solutions to lessons.</li>
        <li>Updating individual lessons with resources.</li>
        <li>Writing new lessons or updating any that are unfinished.</li>
      </ul>
      <p>More information about the curriculum can be found <a href="https://github.com/TheOdinProject/curriculum">here</a>.</p>

      <h3>2) Contribute to the Main Site</h3>
      <p>
        The Odin Project is (chiefly) a <a href="http://rubyonrails.org">Ruby on Rails</a> application.
      </p>
      <p>
        As with any Open Source project, there is a constant backlog of outstanding issues and new features that we would love help with. We have a <a href="https://trello.com/b/Wx1WMToy/main-site-development">Trello Board</a> where we organise the backlog.  Anyone is welcome to join in and start working on any one of these tickets - the more the merrier!
      </p>
      <p>
        Instructions on setting up your local development environment can be found in the <a href="https://github.com/TheOdinProject/theodinproject">GitHub repo</a>.
      </p>
      <p>
        <em>NOTE: When choosing an issue to work on, please check out the <strong>#contributing</strong> channel on <a href="https://theodinproject.slack.com/">our Slack chat</a>, and let everyone know what you are working on.  This is important, as somebody else may have already done some work on the issue - in which case they would probably love to have your help!</em>
      </p>

      <h3>Reasons to get involved</h3>
      <div>
        <p >The Odin Project is designed around a simple idea- make it easy for you to get started coding! We want to make it easy for newcomers to get into an
          <em>actual</em>
          real-world coding environment so you can get the experience you need.
          <strong>Here's the benefits to you:</strong>
        </p>
        <ul>
          <li>
            <span class='highlight'>Flexibility--</span>
            You can work on your own time. It's not 9 to 5 so you can get involved when it's convenient for you.</li>
          <li>
            <span class="highlight">Exposure--</span>
            Contributors to The Odin Project will be listed on the page and on Github, where you can show people your work!</li>
          <li>
            <span class="highlight">Relevant Training--</span>
            This is the development that is in demand and happening today.</li>
          <li>
            <span class="highlight">Job Focus--</span>
            No matter why you are learning to code, the right skills matter. You'll learn good habits and discipline that will put you at the top.</li>
          <li>
            <span class="highlight">Community--</span>
            Meet like-minded people and start building your network now. Find others that can work in your schedule and interests.</li>
        </ul>
      </div>
      <h3>But mostly... it's fun!</h3>
    </div>

    <%= render "contributors" %>

  </div>
</div>
