<div class="StaticPagesController">
  <div class="container">
    
    <h1>Contributing to the Project</h1>

    <p> 
      You can contribute either to the curriculum content directly or the main website.  In either case, you get a free hug.  Both repos are on Github at the links below.  If you'd like to help out in other ways, please <%= link_to "contact us directly", contact_path %>.
    </p>

    <h2>The Main Website</h2>
    <p>
      Students are currently using Agile techniques and group coding sessions to build this very website... learn how by visiting our <%= link_to "Getting Involved document", "https://github.com/TheOdinProject/theodinproject/blob/master/getting_involved.md" %> on Github.  
    </p>
    <p>
      Check out our <%= link_to "Google Community", "https://plus.google.com/communities/100013596437379837846" %> for discussions and events around those efforts, as well as additional links for learning more about this living and growing adventure we call The Odin Project.
    </p>

    <h2>The Curriculum</h2>
    <p>
      To contribute to the curriculum, see our <%= link_to "Contributing to the Curriculum document", "https://github.com/TheOdinProject/curriculum/blob/master/contributing.md" %> in its repository on Github.
    </p>


  </div>
</div>