<div class="StaticPagesController">
  <div class="container">
    
    <h1>Frequently Asked Questions</h1>
  
    <p>
      Learning to code on your own sucks.  It's time consuming, difficult to stay motivated, and lonely.  To top it all off, you usually don't even know if you're learning the right stuff, whether the goal is to build the website you want, start a startup, or get a job as a web developer.
    </p>

    <p>
      The Odin Project is one of those "What I wish I had when I was learning" resources.  Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.
    </p>

    <p>
      Because it's hard! It takes about 1,000 hours of work to go from zero to employable as a web developer.  The project aims to solve the biggest issues -- knowing what to learn and build and finding other students to learn with.  
    </p>

    <h2>We Believe</h2>

    <ol>
      <li>
        <span class="belief-heading">You learn best by actually building things on your own computer</span> 
        <p>
          You can't just follow a bunch of online tutorials and expect to be a developer.  That's why we have a project-based curriculum that leaves you with a real portfolio of work on Github.
        </p>
      </li>
      <li>
        <span class="belief-heading">Education should be free and accessible to everyone</span> 
        <p>
          This curriculum itself is free and we tried to link to resources that are themselves free so anyone in the world can use them.
        </p>
      </li>
      <li>
        <span class="belief-heading">The best way to stay motivated is by working with other people</span>  
        <p>
          We're committed to connecting students together so they can stay motivated and learn faster.
        </p>
      </li>
      <li>
        <span class="belief-heading">Open source is best</span>
        <p>
          Our curriculum is available on Github and so is the source code for this website.  We encourage students and developers to contribute to both in an effort to make this even better.
        </p>
      </li>
    </ol>

    <h2>How it All Started</h2>

    <p>
      Erik decided it was time to learn to code in mid-2012 and immediately dove in with the fervor of an overmotivated geek with a new challenge.  He soon found that, though he was learning a lot of things very quickly, it didn't feel like he was getting much closer to his goal of becoming a functional web developer.  He thought there was a whole lot missing from the experience of learning online, especially in terms of knowing which resources to use and being able to work with other people along the way.
    </p>

    <p>
      So he enrolled at a 9 week intensive coding bootcamp and got the chance to build projects with other students all day long.  He liked the experience so much that he decided to help them grow and improve their business for a while, but he quickly saw the sheer number of people who weren't able to take that same route and who were still out there struggling on their own.</p>

    <p>
      He decided that maybe it was possible to fix both problems -- give people access to a free resource for learning to code AND help them find other beginners along the way.  Thus was born the Odin Project.
    </p>

    <h2>What We're Actually Teaching</h2>

    <p>
      We assume that you're at square one, so we start out by going over what exactly a web developer does, how to install the necessary software on your machine, and how to pair up with other students on projects.
    </p>

    <p>
      The Web Development 101 section will give you a chance to explore several of the languages and technologies you'll need to know on your journey so you have a good sense of context when you push forward into the real meaty stuff. It gives you a taste of HTML, CSS, Javascript, Ruby, Rails, databases, Git, testing and more. We've also created "mini-projects" that will give you a chance to test your new knowledge by actually building something (ideally with another student!).
    </p>

    <p>
      The curriculum takes a back-to-front approach to learning a Ruby on Rails workflow. That means starting with a strong foundation in Ruby and an understanding of databases before migrating into Rails (which is a framework built using Ruby).
    </p>

    <p>
      Why Rails? Why not. There are dozens of possible technologies out there to choose from and, frankly, they do pretty much the same things. Rails is attractive because it's a relatively straightforward and very well documented framework that's used by tons of great startups and tech companies today and it has a very strong community of developers and students who support it. It lets you put up a functioning website in hours not days or weeks. The "in" tech will probably be something completely different in a few years, but Rails presents a great platform on which to build the skills you need to carry you to that next phase.
    </p>

    <p>
      After the high level overview of Web Dev 101, we begin by showing you the path to make your websites function using Ruby, Rails and databases. Next we move into HTML, CSS, Javascript, JQuery, and Backbone to give you the tools necessary to make them come alive by looking good, flowing well, and loading quickly. Along the way, you'll learn git and deployment so you can build your portfolio, collaborate with others, and see your work on the web.
    </p>

    <p>
      Finally, we'll tackle more substantial project work and learn how to deal with legacy codebases and open-source projects. We'll also do some topical deep dives and cover areas specifically intended to help you when you're looking for jobs. Most of the back end of the curriculum is still under construction, so let us know if you'd like to help!
    </p>


    <h2>Contact</h2>

    <p>
      If you have questions about The Odin Project itself, contact us <a href="mailto: contact@theodinproject.com">here.</a>
    </p>


  </div>
</div>