<div class="StaticPagesController gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="text-center camel faq-title">Frequently Asked Questions</h1>
        <%= render 'static_pages/home/faq_accordion', faq_items: @faq_items %>
      </div>
    </div> <!-- /.row -->

    <div class="row odin-community">
      <div class="col text-center">
        <p class="got-questions">Got questions?</p>
        <p class="hang-out">
          Chat with our friendly Odin community in our Gitter chatrooms
        </p>

        <%= link_to 'Open Gitter', 'https://gitter.im/TheOdinProject/theodinproject',
              class: 'btn btn-camel gitter-btn', target: '_blank' %>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!--  /.container -->
</div> <!-- /.StaticPagesController -->
