<%= content_for :title, "The Odin Project -- Learn to Code Together" %>

<div id="landing-page">
  <div class="container-narrow jumbotron">
    <h1 class="headline">
      The Odin Project <span class="beta-superscript">[Beta]</span>
    </h1>

    <h2>
      Learn to Code Together.  Free.
    </h2>
    


    <div class="row flush">
      <div class="subheading">
        <h3>
          Work directly with other students who are learning exactly the same thing as you... without having to change out of your pajamas.
        </h3>
      </div>
    </div>

    <p class="beta-notification">
      Get early access when we launch!
    </p>

    <div class="row-fluid">
      <div class="cta-box splash">
        <%= render :partial => "splash_email_form" %>
      </div>
    </div>

<!--     <p class="cta-disclaimer">
      Don't worry, we will never, ever, give away your email address
    </p> -->
  </div> <!-- container-narrow -->

  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset1" id="benefits">
        <div class="span4">
          <h5>
            Stop battling frustrating error messages on your own
          </h5>
        </div>
        <div class="span4">
          <h5>
            Bring the <strong>fun</strong> back to coding
          </h5>
        </div>
        <div class="span4">
          <h5>
            Collaborate just like professional developers do
          </h5>
        </div>
      </div> <!-- span -->
    </div> <!-- row-fluid -->

    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="dev-statement">
          The Odin Project was created for aspiring coders by developers who were just really tired of learning alone and who discovered how much more effectively you can learn by working directly with someone else.
        </div>
      </div>
    </div>


  </div> <!-- container -->

<!--   <div id="confirmation_form">
    d
  </div> -->
  
</div>













