<%= content_for :title, title %>

<div id="home-page">
  <div class="container narrow">

    <div class="row headline">

      <%= image_tag "odin_big_silhouette.gif", :width => "200px" %>

      <h1>
        Empowering Aspiring Developers <br> To Learn Together
      </h1>

    </div>

    <div class="row subheading">

      <h2>
        It sucks to learn web development on your own.  <br>That's why we've created these free and open-source tools to get you started and working directly with other students.
      </h2>

    </div>

    <div class="row curriculum">

      <h2>Showing you a path forward</h2>
      <h4>
        We've put together an open-source curriculum that uses existing resources to take you from absolutely zero experience and set you on the path towards serious web development.
      </h4>

      <h3>What a Web Developer Actually Does</h3>
      <h3>How to Work Together</h3>
      <h3>Installing the Software</h3>
      <h3>Web Development Basics</h3>
      <h3>Ruby</h3>
      <h3>Relational Databases</h3>
      <h3>Ruby on Rails</h3>
      <h3>HTML5</h3>
      <h3>CSS3</h3>
      <h3>Javascript</h3>
      <h3>jQuery</h3>
      <h3>Backbone.js</h3>

    </div>

    <div class="row scheduler">

      <h2>Helping you Work with Other Students</h2>
      <h4>
        Building projects is awesome.  Working alone sucks.  Whether it's a homework assignment from an online course or one of the projects from our own curriculum, our scheduler tool lets you find other people who are working on the same stuff and set up a time to pair together on it.
      </h4>
    
    </div>

    <div class="row source-code">
      <h2>An Open Source Project</h2>
      <h4>
        The source code for everything on this website, from the tools to the curriculum to this very page, is available on Github.  The best way to learn is to see examples and then actually build stuff... so help actually build the tools you use by contributing!
      </h4>

    </div>

    <div class="row community">
      <h2>We are a Community</h2>
      <h4>
        This is about more than just pairing people together on projects, it's meant to help you really connect with other students along the way.  Host an in-person meetup like <a href="meetup.com/Learn-Web-Development-Paired-Programming-in-SF/" title="San Francisco Meetup Group">ours in San Francisco</a> or help us build out the functionality for people to gather together online.
      </h4>
    </div>

  </div>
</div>