<div class="StaticPagesController">
  <div class="container">
    
    <h1>Legal Stuff</h1>

    <h2>Covered Below:</h2>
    <a href="#tou">
      <p>Terms of Use</p>
    </a>
    <a href="#cla">
      <p>CLA</p>
    </a>

    <h2>Overview</h2>
    <p>
      Here are our legal documents:
    </p>

    <div id="tou">
      <% f = File.open("legal_tou.md", "rb") %>
      <%= md(f.read) %>
      <% f.close %>
    </div>

    <div id="cla">
      <% f = File.open("legal_cla.md", "rb") %>
      <%= md(f.read) %>
      <% f.close %>
    </div>

  </div>
</div>