<div class="StaticPagesController">
  <div class="container">
    
    <h1>Legal Stuff</h1>

    <h2>Covered Below:</h2>
    <a href="#tou">
      <h3>Terms of Use</h3>
    </a>
    <a href="#pp">
      <h3>Privacy Policy</h3>
    </a>
    <a href="#cla">
      <h3>CLA</h3>
    </a>

    <h2>Overview</h2>
    <p>
      The Odin Project!
    </p>

    <h2 id="tou">Terms of Use</h2>


    <h2 id="pp">Privacy Policy</h2>


    <h2 id="cla">Contributor Licensing Agreement</h2>


  </div>
</div>