<%= content_for :title, "The Odin Project -- Scheduler" %>

<div class="container">
  <h1>Start Programming Together</h1>

  <div class="row">
    <div class="span4">
      <a onclick="displayEvents()">Events</a>
      <h4>Tips and Instructions</h4>
      <br>
      <h5>What is this?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h5>How Does it Work?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h5>How do we Pair?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="span8">
      <h4>When are you available?</h4>

      <script>
        $(document).ready(function(){
          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth();
          var y = date.getFullYear();

          var calendar = $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            ignoreTimezone: false,
            firstHour: 8,
            editable: true,
            selectable: true,
            selectHelper: true,
            select: function(start, end, allDay) {
              console.log($(this));
              var summary = prompt('Event Title, Foo!');
              var description = "test"; //prompt('Enter Description, Foo!');
              if(summary) {
                $.ajax({
                  url: "<%= cal_events_url %>",
                  type: "POST",
                  data: {
                    start: start,
                    end: end,
                    allDay: allDay,
                    summary: summary,
                    description: description
                  },
                  success: function(event){
                    console.log("Success! Object is:");
                    console.log(event);
                    calendar.fullCalendar(
                      'renderEvent',
                      {
                        id: event.id,
                        url: event.url,
                        title: summary,
                        start: start,
                        end: end,
                        allDay: allDay,
                        editable: event.editable,
                        description: description
                      }
                    );
                  },
                  error: function(a,b,c){
                    console.log("ERROR!!!!");
                    console.log(a);
                    console.log(b);
                    console.log(c);
                  }
                })
              }
              calendar.fullCalendar('unselect');
            },
            eventSources: [   
              {
                url: "<%= cal_events_url %>"
              }
            ],
            eventRender: function(event, element) {
              if(event.editable){
                element.attr('href', 'javascript:void(0);');
                element.attr('onclick', 'javascript:openModal("' + 
                  event.id + '","' +
                  event.title + '","' + 
                  event.description + '","' + 
                  event.url + '"); '); 
              }
            }
          });
        });

        function openModal(id, title, info, url) { 
          $("#eventInfo").html(info); 
          $("#deleteLink")
            .attr('data-id',id)
            .attr('data-url', url)

          $("#eventContent").dialog({ 
            modal: true, 
            title: title,
            buttons: {
              "close": function(){
                console.log($(this));
                $(this).dialog("close");
              }
            } 
          }); 

          $("#deleteLink").off("click").on("click", function(el){
            console.log($(this));
            $.ajax({
              url: $(this).attr("data-url"),
              type: "DELETE",
              success: function(){
                $("#eventContent").dialog('close');
                $("#calendar").fullCalendar('refetchEvents');
                $("#calendar").fullCalendar('rerenderEvents');
              },
              error: function(a,b,c){
                console.log("ERROR!!!!");
                console.log(a);
                console.log(b);
                console.log(c);
              }
            });
          });
        };

        function displayEvents(){
          $("#calendar").fullCalendar('clientEvents').forEach(function(event){
            console.log(event); 
          })
        }

      </script>
      <style>
        #calendar {
          min-width: 600px;
          margin: 0 auto;
        }
      </style>
      <div id='calendar'></div>

    </div>

  </div>

</div>

<div id="eventContent" title="Event Details">
  <div id="eventInfo">
  </div>
  <hr>
  <p>
    <a id="deleteLink" rel="nofollow">Delete</a>
  </p>
</div>


























