<%= content_for :title, "The Odin Project -- Become a Web Developer" %>
<style>
  html{
    background-color: black;
  }
  body{
    background: url("assets/splash_background.png") no-repeat top center;
    background-size: cover;
    height: 800px;
  }
</style>

<!-- Hide the navbar at the top -->
<% content_for :stylesheets do %>
  #top-navbar{display:none}
  #footer{display:none}
<% end %>


<div id="landing-page">
  <div class="navbar navbar-top">
    <div id="top-navbar-splash">
      <div class="container">
        <div id="logo">
          The Odin Project
        </div>
      </div>
    </div>
  </div>

  <div class="container splash-box">
    <h1 class="headline">
      Become a Web Developer
    </h1>

    <h2>
      With Other Students, From Anywhere in the World
    </h2>
    


    <div class="row flush">
      <div class="subheading">
        <h3>
          It takes at least 1,000 hours to become a "hireable" web developer and it is a confusing and lonely journey.
        </h3>
        <h2>
          Let Us Be Your Guide.
        </h2>
      </div>
    </div>

    <a href="http://www.github.com/TheOdinProject/curriculum" target="_blank"><input type="submit" class="btn btn-warning btn-large btn-view-curriculum" value="View the Curriculum on Github" /></a>
    <br>
    <%= link_to "...Or sign up for our private alpha offering HERE", splash_email_path %>

  </div> <!-- container-narrow -->

</div> <!-- landing-page -->













