<%= content_for :title, "The Odin Project -- Become a Web Developer" %>
<style>
  html{
    background-color: black;
    background: url("assets/splash_background_8.jpg") no-repeat top center;
    background-size: auto 860px;  
  }
  body{
    background: transparent;
    height: 800px;
  }
</style>

<!-- Hide the navbar at the top -->
<% content_for :stylesheets do %>
  #top-navbar{display:none}
  #footer{display:none}
<% end %>


<div id="landing-page">
  <%= render "splash_navbar" %>

  <div class="container">
      <div class="cta-box splash">
        <div class="email-cta">
          <h3>
            Sign up to be notified when we launch:
          </h3>
        </div>
        <%= render :partial => "splash_email_form" %>
      </div>
  </div>
</div>




