<div class="StaticPagesController">
    <div id="studygroup">
      <h1>Odin Study Group</h1>
      <div id="side">
        <h2>
          Spring 2014 Session
        </h2>
        <p>This is a weekly study group on Sundays at 6pm 
          starting February 16th, 2014. We will be working 
          through The Odin Project curriculum from beginning to end.
        </p>

        <p>During the week, we will be working through the curriculum 
          independently, and completed projects are due on Sunday at our meeting. 
          During our study group meetings, we can show our completed projects, 
          discuss questions, and keep each other motivated.
        </p>

        <p>Parts of the curriculum will appear to be review for some people. 
          Parts of the curriculum will appear to be insurmountable for some people. 
          We will steadily progress, nonetheless.
        </p>
      </div>
      <div id="content">
        <h2>Week 1 Study Group Meeting</h2>
        <p><strong>Date: </strong>February 16, 2014<br>
        <strong>Time: </strong>6:00pm PST (GMT-8)<br>
        <strong>Project Due: </strong><%= link_to "HTML/CSS", "http://www.theodinproject.com/courses/web-development-101/lessons/html-css" %><br>
        <strong>Location: </strong><%= link_to "Google Hangout", "https://plus.google.com/events/co5h59n83chanvesvgkuu9s26c4" %><br>
          A link to join the meeting will be posted on the hangout page at 5:50pm on Sunday.
        </p>
      
        <h2>Week 1 Curriculum</h2>
        <p>February 9 - February 15, 2014<br>
        <%= link_to "HTML and CSS Basics", "http://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics" %></p>
      </div>
      <div style="clear:both"></div>
    </div>  
</div>