<%= title('Style Guide') %>
<div class='container'>
  <h2 class='accent page-heading-title mx-auto text-center'>Colors</h2>
  <div class='colors row'>

    <div class="col">
      <div class="color-box">
        <div class="color-preview primary">
          <p class="white">#cc9543</p>
        </div>
        <div class="color-name">
          <p>$primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview button-primary">
          <p class="white">#6abfc3</p>
        </div>
        <div class="color-name">
          <p>$button-primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview text-primary">
          <p class="white">#4a4a4a</p>
        </div>
        <div class="color-name">
          <p>$text-primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview light-grey">
          <p>#eeeeee</p>
        </div>
        <div class="color-name">
          <p>$light-grey</p>
        </div>
      </div>
    </div>

  </div>
  <div class='colors row'>
    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-dusty-orange">
          <p class="white">#ec761f</p>
        </div>
        <div class="color-name">
          <p>$dusty-orange</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-camo">
          <p class="white">#8e8e4c</p>
        </div>
        <div class="color-name">
          <p>$camo</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-coffee">
          <p class="white">#a6824a</p>
        </div>
        <div class="color-name">
          <p>$coffee</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-black">
          <p class="white">#000</p>
        </div>
        <div class="color-name">
          <p>$black</p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center page-heading-title">Typography</h2>
  <p class="text-center mb-4">
    All of the text styling on the site can be accessed through using the correct tags and classnames, without writing custom css.  Using the following tags and classes will ensure that the styling stays consistent from page to page and will be easy to modify in the future.
  </p>
  <div class="row">
    <div class="col-md-6">
      <h2 class="bold accent">Default Text Styles:</h2>
      <h1>h1 - The Odin Project</h1>
      <p class="small secondary"> -- h1 tags are 36px, $text-primary and font-weight light</p>
      <h2>h2 - The Odin Project</h2>
      <p class="small secondary"> -- h2 tags are 24px, $text-primary and font-weight light</p>
      <h3>h3 - The Odin Project</h3>
      <p class="small secondary"> -- h3 tags are 20px and $text-primary </p>
      <h4>h4 - The Odin Project</h4>
      <p class="small secondary"> -- h4 tags are 18px and $text-primary </p>
      <p>p - The Odin Project</p>
      <p class="small secondary"> -- p tags are 18px and $grey </p>
      <p class="small">p.small - The Odin Project</p>
      <p class="small secondary"> -- p.small tags are 13px and $grey </p>
    </div>
    <div class="col-md-6">
      <h2 class="bold accent">Modifiers:</h2>
      <h1 class="bold">h1.bold</h1>
      <h2 class="bold">h2.bold</h2>
      <h3 class="bold">h3.bold</h3>
      <p class="small secondary"> -- add the "bold" class to change the font weight of any text tag</p>
      <h1 class="accent">h1.accent</h1>
      <h2 class="accent">h2.accent</h2>
      <h3 class="accent">h3.accent</h3>
      <p class="small secondary"> -- add the "accent" class to change the color to $primary</p>
      <h1 class="secondary">h1.secondary</h1>
      <h2 class="secondary">h2.secondary</h2>
      <h3 class="secondary">h3.secondary</h3>
      <p class="small secondary"> -- add the "secondary" class to change the color to $grey</p>
      <h1 class="disabled">h1.disabled</h1>
      <h2 class="disabled">h2.disabled</h2>
      <h3 class="disabled">h3.disabled</h3>
      <p class="small secondary"> -- add the "disabled" class to change the color to $pale-grey</p>
    </div>
  </div>
</div>
