<div class='container'>
    <h1 class='colors-heading'>Colors</h1>
  <div class='colors row'>

    <div class="col">
      <div class="color-box">
        <div class="color-preview primary">
          <p class="white">#cc9543</p>
        </div>
        <div class="color-name">
          <p>$primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview button-primary">
          <p class="white">#6abfc3</p>
        </div>
        <div class="color-name">
          <p>$button-primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview text-primary">
          <p class="white">#4a4a4a</p>
        </div>
        <div class="color-name">
          <p>$text-primary</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview light-grey">
          <p>#eeeeee</p>
        </div>
        <div class="color-name">
          <p>$light-grey</p>
        </div>
      </div>
    </div>

  </div>
  <div class='colors row'>
    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-dusty-orange">
          <p class="white">#ec761f</p>
        </div>
        <div class="color-name">
          <p>$dusty-orange</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-camo">
          <p class="white">#8e8e4c</p>
        </div>
        <div class="color-name">
          <p>$camo</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-coffee">
          <p class="white">#a6824a</p>
        </div>
        <div class="color-name">
          <p>$coffee</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="color-box">
        <div class="color-preview bg-black">
          <p class="white">#000</p>
        </div>
        <div class="color-name">
          <p>$black</p>
        </div>
      </div>
    </div>
  </div>
</div>
