<%= title('Terms of Use') %>

<div class="gradient">
  <div class="container tmp-container-spacer">
    <h1 class="page-heading-title">Terms of Use</h1>
    <div class="card-main lesson-content">
      <% f = File.open('legal_terms_of_use.md', 'r:UTF-8') %>
      <%= MarkdownConverter.new(f.read).as_html.html_safe %>
      <% f.close %>
    </div>
  </div>
</div>
