<%= title('Terms of Use') %>

<div class="gradient">
  <div class="container terms_of_use">
    <div class="card-main">
      <% f = File.open('legal_terms_of_use.md', 'r:UTF-8') %>
      <%= MarkdownConverter.new(f.read).as_html.html_safe %>
      <% f.close %>
    </div>
  </div>
</div>
