<%= content_for :title, "The Odin Project -- Become a Web Developer" %>
<style>
  html{
    background-color: black;
    background: url("assets/splash_background_8.jpg") no-repeat top center;
    background-size: auto 860px;  
  }
  body{
    background: transparent;
    height: 800px;
  }
</style>

<!-- Hide the navbar at the top -->
<% content_for :stylesheets do %>
  #top-navbar{display:none}
  #footer{display:none}
<% end %>


<div id="landing-page">
  <%= render "splash_navbar" %>

  <div class="container">
    <div class="cta-box">
      <div class="email-cta thank-you-text">
        <h3>
          Thanks!
        </h3>
        <h4>
          We'll let you know when we're ready to go.
        </h4>
        <a href="http://www.github.com/TheOdinProject/curriculum" class="splash-link">
          Until then, check out the curriculum on Github 
        </a>
      </div>
    </div>
  </div>
</div>



