<%= content_for :title, "The Odin Project -- Become a Web Developer" %>
<style>
  html{
    background-color: black;
  }
  body{
    background: url("assets/splash_background.png") no-repeat top center;
    background-size: cover;
    height: 800px;
  }
</style>
<!-- Hide the navbar at the top if splash -->
<% content_for :stylesheets do %>
  #top-navbar{display:none}
  #footer{display:none}
<% end %>


<div id="landing-page">
      <!-- <div class="navbar-inner"> -->
  <div class="navbar navbar-top">
    <div id="top-navbar-splash">
      <div class="container">
        <div id="logo">
          The Odin Project
        </div>
      </div>
    </div>
  </div>

  <div class="container jumbotron">
    <div class="cta-box">
      <div class="email-cta thank-you-text">
        <h3>
          Thanks!
        </h3>
        <h4>
          We'll let you know when we're ready to go.
        </h4>
        <a href="http://www.github.com/TheOdinProject/curriculum" class="splash-link">
          Until then, check out the curriculum on Github 
        </a>
      </div>
    </div>
  </div>
</div>