<div class="StaticPagesController">
  <div class="container">

    <%= link_to "<< Back to Legal", legal_path %>

    <div id="tou">
      <% f = File.open("legal_tou.md", "rb") %>
      <%= md(f.read) %>
      <% f.close %>
    </div>

  </div>
</div>