<div id="forum">
  <div class="forum-titlebar">
    <h1>
      Welcome to the Forum
    </h1>
    <p>
      Use this area for any general or project-related questions and suggestions.  For questions or suggestions about specific lessons, see the comments section at the bottom of that lesson.
    </p>
  </div>
  <%= render 'shared/disqus_forum' %>
</div>
