<%= content_for :title, title %>

<div id="forum">

  <!-- (2) Placeholder for the forum. The forum will be rendered inside this element -->
  <a class="moot" href="https://moot.it/i/theodinproject">theodinproject forums</a>

</div>