<div class="banner">
  <%= image_tag course.badge, class: 'banner__badge', alt: "#{course.title.downcase} badge" %>
  <h1 class="banner__title"><%= course.title %></h1>


  <% if user_signed_in? && show_completion_percent %>
    <div class="banner__progress">
      <%= render 'shared/completion_percent', course: course %>
    </div>
  <% end %>
</div>
