<div class="banner">
  <div class='banner__badge'>
    <%= render ProgressBadgeComponent.new(
      course: course,
      current_user: current_user,
      modifier: '',
      url: courses_progress_path(course.id)
    )%>
  </div>

  <%= link_to path_course_url(course.path, course), class: 'course-card-header__link' do %>
    <h1 class="banner__title" data-test-id="course-title-header"><%= course.title %></h1>
  <% end %>
</div>
