<div class="banner">
  <div class='banner__badge'>
    <%= render 'shared/course_badge', course: course, user: current_user, modifier: '' %>
  </div>
  <h1 class="banner__title"><%= course.title %></h1>
</div>
