<div class="banner">
  <div class='banner__badge'>
    <%= render 'shared/course_badge', course: course, user: current_user, modifier: '' %>
  </div>

  <%= link_to path_course_url(course.path, course), class: 'course-card-header__link' do %>
    <h1 class="banner__title" data-test-id="course_title_header"><%= course.title %></h1>
  <% end %>
</div>
