<div class="section-lessons" data-test-id="course-section">
  <% lessons.each_with_index do |lesson, lesson_index| %>
    <div class="section-lessons__item">

      <%= link_to path_course_lesson_url(course.path, course, lesson), class: 'section-lessons__item__link' do %>
        <%= numbered_lesson_title(lesson, lesson_index).html_safe %>
      <% end %>

      <% if user_signed_in? %>
        <div id="section-lessons__<%= lesson.id %>">
          <%= render 'courses/course/lesson_completion_button', lesson: lesson, user: current_user %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
