<div class="section-lessons" data-test-id="course-section">
  <% lessons.each_with_index do |lesson, lesson_index| %>
    <div class="section-lessons__item">

      <%= link_to lesson_url(lesson), class: 'section-lessons__item__link tracking-wide' do %>
        <%= numbered_lesson_title(lesson, lesson_index).html_safe %>
      <% end %>

      <%= render CompleteIconButtonComponent.new(lesson: lesson, current_user: current_user) %>
    </div>
  <% end %>
</div>
