<div class="card-main section" id="section-<%= section.title_url %>">
  <div class="section-title">
    <h2><%= section.title %></h2>
  </div>

  <div class="section-description">
    <p><%= section.description %></p>
  </div>

  <%= render 'courses/course/lessons',
    lessons: section.lessons,
    course: course,
    section_index: section_index %>
</div> <!-- /.section -->
