.project {
  &__vote-button {
    background: transparent;
    box-shadow: none;
    color: $whitish-grey;
    cursor: pointer;
    padding: 1em;

    .fa {
      font-size: 2rem;
      color: $heart-red;
    }
  }
}
