<div style:"width: 30em">
  <p>
    Hi!  Thanks a lot for your interest in The Odin Project!  We're really excited that you're with us to help lead the charge towards a more collaborative online coding experience.  
  </p>

  <p>
    The site is going to be changing quickly over the next few weeks and months and you will be a key factor in how that happens.  There are a couple ways you can help:  
  </p>

  <p>
    1. Spread the word!  Bring your friend along for the ride at:
  </p>

  <a href="http://www.theodinproject.com">http://www.theodinproject.com

  <p>
    2. Send us feedback! We LOVE hearing from people who are learning to program online or who have suggestions for the site.  Just look us up at:
  </p>

  <%= @feedback_url %>

  <p>
    We'll shortly be bringing more users into the private release, so look out for that as well if you'd like a chance to get on board early.
  </p>

  <p>
    Good luck with your coding journey, and we'll see you soon!
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    Erik Trautman<br>
    Founder, The Odin Project
  </p>
  <hr>
