<div style="width: 30em; font-size: 1.1em; margin-left: auto; margin-right: auto; padding-left: 1em;">
    <br>
    <span style="font-size:1.3em">Thank you for your interest in The Odin Project!  </span>
    <br>
    <br>
    We're really excited that you're with us to help lead the charge towards a more collaborative online coding experience.  
    <br>
    <br>
    The site is going to be changing quickly over the next few weeks and months and you will be a key factor in how that happens.  There are a couple ways you can help:  
    <br>
    <br>
    <strong>1. Spread the word!</strong>  Bring your friends along for the ride by letting them know about <a href= <%= @odin_url %> ><%= @odin_url %>. </a>
    <br>
    <br>
    <strong>2. Send us feedback!</strong> We LOVE hearing from people who are learning to program online or who have suggestions for the site.  Just look us up at <a href="mailto:<%= @feedback_email %>?subject=feedback"><%= @feedback_email %></a>.
    <br>
    <br>
    We'll shortly be inviting more users into the private release, so look out for that email as well if you'd like a chance to get on board early.
    <br>
    <br>
    <br>
    Good luck with your coding journey, and we'll see you soon!
    <br>
    <br>
    Erik Trautman
    <br>
    Founder, The Odin Project
    <br>
    <br>
  <hr>
</div>
