{
  "plugins": [
    ["prismjs", {
        "languages": ["ruby", "javascript", "css", "markup", "sql", "erb"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}
