nav{
    background-color: gray;
    border: 1px solid rgba(22, 21, 21, 0.295);
    height: 80px;
    border-left: 0;
    border-right: 0px;
    font-size: 20px;
    font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
img{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-right: 60px;

}
a{
    border: none;
    margin-left: 50px;
    background-color: gray;
    color: rgb(248, 241, 241);
    text-decoration: none;
}
.moon{
    width: 40px;
    height: 40px;
}
.border{
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 4px dotted gray;
    height: 5px;
}


.main{
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    align-items: center;
    
    width: 600px;
    
}
.white{
    margin-top: 10%;
    background-color : rgb(251, 251, 255);
    flex :70%;
    
    
}
   
.up{
    border: 5px solid gray; 
    border-radius: 20px;
}
.right{
    background-color: gray;
    
    flex :30%;
    margin-left: 20%;
    border-radius: 20px;

}
.girl{
    width: 300px;
    height: 300px;
    margin-left: 8%;
    margin-bottom: 3%;
}