body {
    font-size: small;
}

img {
    width: 272px;
    height: 92;
   
}

main {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}

ul {
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 0;
      }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }



.btnI .btnII {
    display: inline-block;
    text-align: center;
    vertical-align: center;
}


.search-container {
    max-width: 100%;
    text-align: center;
    /* display: block; */
    padding-bottom: -60px;
    padding-top: 40px;
    margin-bottom: 10px;
    
}


.button {
    padding: 5px 20px 10px 20px;
}

#searchBar {
    width: 550px;
    padding: 12px;
    border-radius: 30px;
    border-style: solid 1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 240, 240);
    border-left: none;
}

