<div class="settings-section">
  <div class="settings-card card-main">

    <div class="settings-card__edit-button settings-card__edit-button--open" data-test-id="user-edit-learning-goal-btn"></div>
    <h2 class="accent settings-card__heading text-2xl">Learning Goal</h2>

    <div class="settings-card__content">
      <div class="settings-view">
        <p class="form__element--non-editable learning_goal" data-test-id="settings-view-learning-goal">
          <%= display_learning_goal(user) %>
        </p>
      </div>

      <%= form_for user,
        html: { class: 'form settings-view--hidden', id: 'learning-goal-update-form' },
        remote: true do |form|
      %>

        <div class="form__section">
          <%= form.text_field :learning_goal, class: 'form__element', maxlength: 100, size: 140, data: { test_id: 'edit-learning-goal-text-field' } %>
        </div>

        <%= form.submit 'Update', class: 'button button--primary full-width', data: { test_id: 'edit-learning-goal-submit-btn' } %>
      <% end %>
    </div>
  </div>
</div>
