<%= title('Sign Up') %>

<div class="gradient">
  <div class="container tmp-container-spacer">
    <div class="col-lg-6 col-md-10 offset-lg-3 offset-md-1">
      <h1 class="text-center accent page-heading-title">Sign Up for Free</h1>
      <%= render 'form' %>

      <%= render 'shared/bottom_cta',
        button: login_button,
        heading: 'Have an account?',
        sub_heading: ''
      %>
    </div>
  </div>
</div>
