<div id="devise-form" class="devise-sign-up gradient">
  <div class="container">
    <div class="col-lg-6 login-form">
      <h1 class="text-center accent">Sign Up for Free</h1>
      <div class="card-main">
        <%= render 'signup_form' %>

        <div class="in-between text-center"><span>OR</span></div>

        <%= render 'shared/github_button', button_type: 'Sign up' %>
      </div>

      <%= render 'shared/bottom_cta',
        button: login_button,
        heading: 'Have an account?',
        sub_heading: ''
      %>

    </div>
  </div>
</div>
