.hero {
  text-align: center;
  width: 100%;

  header {
    padding-bottom: 3.75rem;
  }

  &__main-heading {
    margin-bottom: 0;
    padding-bottom: 1.875rem;
  }

  &__sub-heading {
    padding-bottom: 4.375rem;
  }
}
