.overview {
  background: $white-smoke;
  padding-top: 100px;
  padding-bottom: 100px;

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__heading {
    margin-bottom: 30px;
  }

  .stats-card-content {
    justify-content: flex-start;

    &__stats {
      padding: 24px;

      @include media-breakpoint-down(md) {
        text-align: center;
      }

      .stat {
        font-size: 2.25rem;
        font-weight: bold;
        color: $pale-grey;
        letter-spacing: 0.4px;
      }
    }
  }

  .origin-card-content {
    padding: 24px;

    &__heading {
      font-size: 2.25rem;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  .open-source-card-content {
    padding: 24px;

    .open-source {
      align-items: center;
      margin-bottom: 20px;

      &__heading {
        font-size: 2.25rem;
        font-weight: bold;
        color: $pale-grey;
        letter-spacing: 0.4px;
      }
    }
  }
}
