.skill {
  display: flex;
  align-items: center;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid $very-pale-grey;
  color: $grey;

  &__image {
    padding-right: 1.5em;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      margin-bottom: 1em;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-weight: bold;
    color: $grey;
    margin-bottom: 0;
  }

  &__sub-title {
    font-size: 0.81em;
    text-transform: uppercase;
  }
}
