---
http_interactions:
- request:
    method: post
    uri: https://discordapp.com/api/webhooks/
    body:
      encoding: UTF-8
      string: '{"content":"A MESSAGE","username":null,"avatar_url":null,"tts":false,"embeds":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Bucket:
      - 3cd1f278bd0ecaf11e0d2391374c011d
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1588185988'
      X-Ratelimit-Reset-After:
      - '2'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 29 Apr 2020 18:46:25 GMT
recorded_with: VCR 5.1.0
