<h2>Roadmap</h2>

<ol id="navigation-list">
  <li>
    <a href="{{ site.url }}/dir/">
      Introduction
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/getting_started.html">
      Getting Started
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/becoming_a_web_developer/">
      About Web Developers  &raquo;
    </a>
    <ol>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/what_does_a_web_dev_do.html">
          What A Web Developer Does
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/web_dev_jobs.html">
          Web Development Jobs and Careers
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/tools_of_the_trade.html">
          Tools of the Trade
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/web_dev_communities.html">
          Web Development Communities
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/the_best_web_devs.html">
          The Best Web Developers
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/getting_a_job.html">
          Getting Hired as a Web Developer
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/becoming_a_web_developer/finish.html">
          Finale
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/installations/">
      Installations
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/web_development_basics/">
      Web Development 101  &raquo;
    </a>
    <ol id="web-dev-101-submenu">
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/how_does_the_web_work.html">
          How Does the Web Work?
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/how_does_your_computer_work.html">
          How Does Your Computer Work?
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/terms_to_know.html">
          Terms to Know
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/">
          Web Programming Basics  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/front_end_basics/">
              Front End Basics  &raquo;
            </a>
            <ol>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/front_end_basics/html_css_basics.html">
                  HTML and CSS Basics
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/front_end_basics/project_html_css.html" class="project-link">
                  Project: HTML / CSS
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/front_end_basics/js_jquery_basics.html">
                  Javascript and jQuery Basics
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/front_end_basics/project_js_jquery.html" class="project-link">
                  Project: JS and jQuery
                </a>
              </li>
            </ol>
          </li>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/back_end_basics/">
              Back End Basics  &raquo;
            </a>
            <ol>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/back_end_basics/ruby_basics.html">
                  Ruby Basics
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/back_end_basics/project_ruby.html" class="project-link">
                  Project: Ruby
                </a>
              </li>
            </ol>
          </li>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/database_basics.html">
              Databases
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/framework_basics/">
              Web Development Frameworks  &raquo;
            </a>
            <ol>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/framework_basics/rails_basics.html">
                  Ruby on Rails
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/framework_basics/project_rails.html" class="project-link">
                  Project: Ruby on Rails
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/framework_basics/backbone_basics.html">
                  Backbone.js
                </a>
              </li>
            </ol>
          </li>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/tying_it_all_together.html">
              Tying It All Together
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/web_development_basics/web_programming_basics/additional_topics.html">
              Additional Important Topics
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/how_are_websites_built.html">
          How are Websites Built?
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/principles_of_good_programming.html">
          Principles of Good Programming
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/faq.html">
          Other "Dumb" Questions Answered
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/web_development_basics/finish.html">
          Finish
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/ruby/">
      Ruby  &raquo;
    </a>
    <ol>
      <li>
        <a href="{{ site.url }}/dir/ruby/basic_ruby/">
          Basic Ruby  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/ruby/basic_ruby/building_blocks.html">
              Building Blocks
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/basic_ruby/project_building_blocks.html" class="project-link">
              Project: Building Blocks
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/basic_ruby/advanced_building_blocks.html">
              Advanced Building Blocks
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/basic_ruby/project_advanced_building_blocks.html" class="project-link">
              Project: Advanced Building Blocks
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/intermediate_ruby/">
          Intermediate Ruby  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/ruby/intermediate_ruby/oop.html">
              Object Oriented Programming
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/intermediate_ruby/project_oop.html" class="project-link">
              Project: OOP
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/intermediate_ruby/serialization.html">
              File I/O and Serialization
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/intermediate_ruby/project_file_io.html" class="project-link">
              Project: File I/O and Serialization
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/ruby_on_the_web/">
          Ruby on the Web  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/ruby/ruby_on_the_web/project_web.html" class="project-link">
              Project: Ruby on the Web
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/cs_topics_in_ruby/">
          A Bit of Computer Science  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/ruby/cs_topics_in_ruby/recursion.html">
              Recursion
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/cs_topics_in_ruby/project_recursion.html" class="project-link">
              Project: Recursion
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/cs_topics_in_ruby/data_structures_algorithms.html">
              Data Structures and Algorithms
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/dir/ruby/cs_topics_in_ruby/project_data_structures_algorithms.html" class="project-link">
              Project: Data Structures and Algorithms
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/testing_ruby/">
          Testing Ruby with RSpec  &raquo;
        </a>
        <ol>
          <li>
            <a href="{{ site.url }}/dir/ruby/testing_ruby/project_testing.html" class="project-link">
              Project: Testing Ruby
            </a>
          </li>
        </ol>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/project_final.html" class="project-link">
          Ruby Final Project
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/ruby/finish.html">
          Finale
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/git/">
      Git &raquo;
    </a>
    <ol>
      <li>
        <a href="{{ site.url }}/dir/git/project_git.html" class="project-link">
          Project: Git Calisthenics
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/git/finale.html">
          Finale
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/databases/" class="coming-soon">
      Databases <em>-- Coming Soon!</em>
    </a>
    <ol>
      <li>
        <a href="{{ site.url }}/dir/databases/types_of_databases.html" class="project-link">
          Types of Databases
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/databases/project_databases.html">
          Project: SQL Zoo
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/rails/" class="coming-soon">
      Ruby on Rails <em>-- Coming Soon!</em>
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/html_css/" class="coming-soon">
      HTML and CSS <em>-- Coming Soon!</em>
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/javascript/" class="coming-soon">
      Javascript <em>-- Coming Soon!</em>
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/tying_it_all_together/" class="coming-soon">
      Tying It All Together <em>-- Coming Soon!</em>
    </a>
  </li>
  <hr>
  <li>
    <a href="{{ site.url }}/dir/mobile/">
      Mobile
    </a>
  </li>
  <hr>
  <li>
    <a href="{{ site.url }}/dir/pairing/">
      Pair Programming  &raquo;
    </a>
    <ol>
      <li>
        <a href="{{ site.url }}/dir/pairing/why_pair.html">
          Why We Pair
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/pairing/how_to_pair.html">
          How To Pair
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/pairing/sample_pairing_session.html">
          A Sample Pairing Session
        </a>
      </li>
      <li>
        <a href="{{ site.url }}/dir/pairing/finish.html">
          Finale
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="{{ site.url }}/dir/contributing.html">
      Contributing
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/dir/odin.html">
      Odin
    </a>
  </li>
</ol>


<script>

  $(function(){

    // hide all anchor tags in the nav using JS
    // meant so people without JS can still see the full list
    $('#navigation-list').find("ol").addClass("hidden");

    // find the exact anchor element we are currently "at" in the
    // navigation tree, e.g. the "Web Development 101" link.
    var anchorMatch = $("#navigation-list")
      .find("a")
      .filter(function(){
        console.log(window.location.pathname);
        var regex = window.location.pathname + "$";
        // The following was for when /dir/ and / were the "same"
        // if(regex == "/$"){
        //   regex = "^/$";
        // }
        return this.href.match(regex);
      });

    // show parent directories for the currently selected directory
    anchorMatch
      .parents("ol")
      .removeClass("hidden");

    // show the immediate child directory
    anchorMatch
      .siblings("ol")
      .removeClass("hidden");

    // highlight the current directory
    anchorMatch
      .addClass("active");

  });



</script>
<style>
  #sidebar h2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hidden{
    display: hidden;
  }
  .active{
    background-color: yellow;
    font-weight: bold;
  }
  #navigation-list{
    padding-left: 0px;
  }
  #navigation-list li{
    list-style: none;
    line-height: 1.6em;
  }
  #navigation-list ol{
    padding-left: 25px;
  }
</style>













