<div class="container lesson">
  <div class="row">

    <div class="col-lg-3">
      <div class="d-none d-lg-block d-xl-block lesson-navigation"></div>
    </div>

    <div class="col-lg-9">
      <div>
        <%= react_component("lesson-preview/index", {}) %>
      </div>
    </div>
  </div>
</div>
