<%= title('Lesson Preview Tool') %>

<div class="page-container">
  <div class="max-w-4xl mx-auto">
    <h1 class="page-heading-title">Lesson Preview Tool</h1>
    <p class="text-center mb-6">Paste markdown contents here to check how they'll look on the website!</p>
    <%= react_component("lesson-preview/index", {}) %>
  </div>
</div>
