<%= title('Lesson Preview Tool') %>

<div class="container lesson-container lesson">
  <div class="row">

    <div class="col-lg-3 lesson-nav-wrapper">
      <div>
        <div class="d-none d-lg-block d-xl-block lesson-navigation"></div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-8">
      <div>
        <h1 class="page-heading-title text-center mx-auto">Lesson Preview Tool</h1>
        <p class="lesson-preview__detail">Paste markdown contents here to check how they'll look on the website!</p>
        <%= react_component("lesson-preview/index", {}) %>
      </div>
    </div>
  </div>
</div>
