.settings-card {
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
    text-align: center;
  }

  &__picture {
    margin-right: 40px;

    img {
      width:100px;
      height:100px;
      margin: 0 auto;
      border-radius:50%;
      overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  &__edit-button {
    color: $grey;
    font-size: 1.125em;
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
      color: $black;
    }

    &--open {
      &:before {
        content: "\f044";
        font-family: FontAwesome;
      }
    }

    &--close {
      &:before {
        content: "\f00d";
        font-family: FontAwesome;
      }
    }
  }
}
