<div class="col-12 col-md-4 course-button text-center">
  <% if course_completed_by_user?(course, user) %>
    <span class="course-button--completed pale-grey bold text-uppercase">
      <i class="fa fa-check-circle-o"></i>&nbsp;Completed
    </span>
  <% elsif course_started_by_user?(course, user) && !course_completed_by_user?(course, user) %>
    <%= link_to 'Resume',
      lesson_path(next_lesson_to_complete(course, user.lesson_completions)),
      class: 'button button--primary' %>
  <% else %>
    <%= link_to 'Start', course_path(course), class: 'button button--primary' %>
  <% end %>
</div>
