<div class="user-project-submissions">
  <h2 class="user-project-submissions__title text-2xl">Project Submissions</h2>

  <% if project_submissions.any? %>
    <%= react_component(
        "project-submissions/user-project-submissions",
        {
          userId: current_user&.id,
          submissions: project_submissions.map { |submission| ProjectSubmissionSerializer.as_json(submission, current_user) },
        }
    ) %>
  <% else %>
    <h3 class="user-project-submissions__blank-slate-message text-xl">No submissions yet</h3>
  <% end %>
</div>
