<div class="container skills-progress">
  <div class="row">
    <div class="col text-center skills-progress-heading">
      <h2 class="bold grey">Skills Progress</h2>
      <p class="skills-progress-heading__sub-heading">If you're new to web development, take the following courses in the order. Otherwise feel free to start wherever interests you the most.</p>
    </div>

    <% courses.each do |course| %>
      <%= render 'skill_progress', course: CourseDecorator.new(course) %>
    <% end %>
  </div>
</div>
