<div class="skills">
  <div class="skills__header">
    <h2 class="skills__title">Skills Progress</h2>
    <p class="skills__content">
      If you're new to web development, take the following courses in order. Otherwise feel free to start wherever interests you the most.
    </p>
  </div>

  <% courses.each do |course| %>
    <%= render 'skill', course: course %>
  <% end %>
</div>