<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="row align-items-center skill-progress">
        <div class="col-12 col-md-3 text-center">
          <%= render 'shared/course_badge', course: course, user: @user %>
        </div>

        <div class="col-12 col-md-5 course-info text-uppercase">
          <h2 class="skill-progress__course-title bold"><%= course.title %></h2>
          <span class="skill-progress__lessons-count small"><%= course.lessons.size %> lessons</span>
        </div>

        <%= render 'users/course_buttons', course: course, user: @user %>
      </div>
    </div>
  </div>
</div>
