<div id="user_settings" class="gradient">
  <% if @edit %>
    <form accept-charset="UTF-8" id="edit-user" method="post" action="/users/<%= @user.id %>">
      <input name="_method" type="hidden" value="put">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <% end %>
  <div class="container center-contents">
    <h1 class="text-center settings-section">Settings</h1>
    <div class="profile settings-section">
      <h2>Profile</h2>
      <div class="settings-card profile-card">
        Name and stuff goes here 
      </div>
    </div>
    <div class="learning-goal settings-section">
      <h2>Learning Goal</h2>
      <div class="settings-card profile-card">
        Learning Goal stuff goes here
      </div>
    </div>
    <div class="notifications settings-section">
      <h2>Notifications</h2>
      <div class="settings-card profile-card">
        Notification stuff goes here
      </div>
    </div>
    <div class="save settings-section">
      <button>Save changes</button>
    </div>
  </div>
        

</div>
