* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 14px;
}

body {
    background: #fff;
    display: grid;
    grid: 'header'max-content 'main'1fr 'footer'max-content;
}

header {
    grid-area: header;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
    line-height: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.gnav-links-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.gnav-links-right {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}


.gnav-item {
   padding: 10px 20px 10px 0;
   color: rgba(0, 0, 0, 0.87);
   text-align: center;
   align-content: center;
   line-height: 30px; 
}

.gnav-item:hover {
    text-decoration: underline;
}

.gnav-item svg {
    color: black;
    height: 20px;
}

#gsign-in-btn {
    background: #4285f4;
    color: white;
    height: 30px;
    border-width: 0px;
    border-radius: 2px;
    padding: 0 20px;
    font-weight: 500;
    text-align: center;
    text-justify: center;
}

#gsign-in-btn:focus {
    outline: none;
}

main {
    grid-area:main;
    justify-self: center;
    align-self: start;
    margin-top: 100px;
}

.gmain-container {
    width: 500px;
    display: grid;
    grid-gap: 10px;
    grid: 'logo logo'max-content 'input input'50px 'search-btn lucky-btn'60px 'language language'40px;
}

.glogo {
    grid-area: logo;
    padding-bottom: 30px;
    justify-self: center;
}

.ginput {
    grid-area: input;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-content: center;
    gap: 10px;
}

.ginput svg {
    fill: rgba(0, 0, 0, 0.87);
    height: 15px;
}

.input-before {
    justify-self: end;
    align-self: center;
}

.input-after {
    justify-self: start;
    align-self: center;
}

.ginput:hover {
    box-shadow: 1px 1px 5px #c9c6c6;
}

.ginput input[type="text"] {
    border: none;
    outline: none;
    height: 100%;
}

.gsearch-btn {
    grid-area: search-btn;
    justify-self: end;
}

.glucky-btn {
    grid-area: lucky-btn;
    justify-self: start;
}

.glucky-btn button,
.gsearch-btn button {
    line-height: 27px;
    outline: none;
    border: 1px;
    padding: 0px 16px;
    margin: 0 5px;
    min-width: 150px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87)
}

.glucky-btn button:hover,
.gsearch-btn button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    border: 1px solid #c6c6c6;
    border-radius: 2px inset #dfe1e5;
}

.glang {
    grid-area: language;
    justify-self: center;
}

.glang a {
    text-decoration: none;
}

.glang a:hover {
    text-decoration: underline;
}

#glogo-image {
    height: 92px;
    width: 300px;
}

footer {
    grid-area: footer;
}

footer {
        display: grid;
        background: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        color: #5f6368;
        line-height: 40px;
        border-top 1px solid #e2e2e2;
        grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
}

.gfooter-links-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gfooter-links-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
}

.gfooter-link-item {
    padding-left: 25px;
    text-align: center;
}

.gfooter-link-item:hover {
    text-decoration: underline;
}