<div class="py-20 text-center max-w-4xl mx-auto">
  <h4 class="text-3xl mb-4 font-light leading-10 text-gray-600"><%= heading %></h4>
  <p class="font-normal mb-10"><%= sub_heading %></p>
  <%= button %>
</div>
