<footer id="footer">
  <hr>

  <form id="footer-suggestion-form" class="form-inline" action="<%= suggestion_path %>" method="post" data-remote="true">

    <input type="hidden" name="pathname" value="" id="suggestion-pathname">

    <input type="text" name="suggestion" id="feedback-text-box" class="input-large" placeholder="What can we do to improve this site?">

    <button type="submit" class="btn" id="suggestion-button">
      Tell Us!
    </button>

  </form>

  <span class="copyright">
    <a href="http://theodinproject.github.io/curriculum/odin.html" title="Why Odin?">
      Why Odin?
    </a>
    &nbsp;&nbsp; | &nbsp;&nbsp; Brainchild of <a href="http://www.github.com/eriktrautman" title="Erik's github">Erik</a></span>
</footer>

<script>
  // After form submission, gray out and disable the form
  $(document).ready(function(){
    $("#footer-suggestion-form").bind("ajax:complete", function(event, xhr, status){
      console.log($("#footer-suggestion-form input"));
      $("#footer-suggestion-form input").attr("disabled","disabled");
      $("#footer-suggestion-form button").attr("disabled","disabled").html("Thanks!");
      console.log("did it!");
    });
    $("#suggestion-pathname").val(location.pathname);
  });
</script>















