<!-- <div class="row"> -->
  <%- if @user.password_required? %>
    <!-- <div class="social-wrapper"> -->
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "<i class=\"fa fa-#{provider} providers-button\"></i>#{screen} with #{provider.to_s.titleize}".html_safe, omniauth_authorize_path(resource_name, provider), class: 'github-login-button page-buttons login btn' %><br />
      <% end -%>

    <!-- </div> -->
  <% end -%>
<!-- </div> -->