<div class="brand-box">
  <a href=<%= home_url %>>
    <%= image_tag "odin_head_silhouette_2_777_216px.gif", :class=>"logo-img" %>
    <span class="logo-text">
      The Odin Project
    </span>
  </a>
</div>