<div class="brand-box">
  <a href=<%= home_url %>>
    <%= image_tag "odin_head_silhouette_2_circle_simple_transparent.gif", :class=>"logo-img" %>
    <span class="logo-text">
      The Odin Project
    </span>
    <span class="beta-tag">
      beta
    </span>
  </a>
</div>