<%= render 'shared/navbar' %>

<div class="nav-spacer"></div>

<%= render 'shared/admin_flash'%>

<%= render "layouts/#{flash[:partial]}" if flash[:partial] %>

<%= render 'shared/flashes', flash: flash unless flash.empty? %>
