    <div class="navbar navbar-fixed-top" id="top-navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href=<%= root_url %>>The Odin Project</a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Logout", logout_path  %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>