<div id="search-results-modal" class="modal hide fade" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Search Results</h3>
  </div>
  <div id="st-results-container" class="modal-body" >
  </div>
  <div class="modal-footer">
    <a class="btn" id="search-results-close" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>
