<div class="floating-dropdown">
  <div class="floating-dropdown__item floating-dropdown--hidden-item text-center" data-toggle='tooltip' data-placement='left' title='Chat'>
    <%= link_to chat_link, target: :_blank do %>
      <i class="fa fa-comment"></i>
    <% end %>
  </div>
  <div class="floating-dropdown__item floating-dropdown--hidden-item text-center" data-toggle='tooltip' data-placement='left' title='Forum'>
    <%= link_to forum_link, target: :_blank do %>
      <i class="fa fa-group" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="floating-dropdown__item main-floating-btn">
    <i class="fa fa-comments" aria-hidden="true"></i>
  </div>
</div>