<div class="chat-floating-btn js-gitter-toggle-chat-button">
  <i class="fa fa-comments" aria-hidden="true"></i>
</div>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'theodinproject/theodinproject',
    activationElement: false
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
