<div class="chat-floating-btn">
  <i class="fa fa-comments" aria-hidden="true"></i>
</div>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'theodinproject/theodinproject',
    activationElement: '.chat-floating-btn'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
