<div class="floating-dropdown">
  <div class="floating-dropdown__item floating-dropdown--hidden-item js-gitter-toggle-chat-button text-center" data-toggle='tooltip' data-placement='left' title='Chat'>
    <i class="fa fa-comment"></i>
  </div>
  <div class="floating-dropdown__item floating-dropdown--hidden-item text-center" data-toggle='tooltip' data-placement='left' title='Forum'>
    <%= link_to forum_link do %>
      <i class="fa fa-group" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="floating-dropdown__item main-floating-btn">
    <i class="fa fa-comments" aria-hidden="true"></i>
  </div>
</div>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'theodinproject/theodinproject',
    activationElement: false
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
