<div class="floating-dropdown">
  <div class="floating-dropdown__item floating-dropdown--hidden-item text-center" data-toggle='tooltip' data-placement='left' title='Chat'>
    <%= link_to ODIN_CHAT_URL, target: :_blank, rel: 'noreferrer', class: "chat-floating-btn" do %>
      <i class="fas fa-comment"></i>
    <% end %>
  </div>
  <div class="floating-dropdown__item main-floating-btn">
    <i class="fas fa-comments" aria-hidden="true"></i>
  </div>
</div>
