<div class="social_sharing_buttons pull-left">
  <a href="#"><span class="fa fa-twitter-square"></span></a>
  <a href="#"><span class="fa fa-facebook-square"></span></a>
  <a href="#"><span class="fa fa-google-plus-square"></span></a>
  <a href="#"><span class="fa fa-pinterest-square"></span></a>
</div>