<div class="social_sharing_buttons pull-left">
  <%= link_to raw('<span class="fa fa-twitter-square"></span>'), "https://twitter.com/share?text=Check out this lesson: #{@lesson.title}" %>
  
  <%= link_to raw('<span class="fa fa-facebook-square"></span>'),
    "https://www.facebook.com/dialog/share?app_id=498294266938114&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>


  <a href=<%="https://plus.google.com/share?url=#{request.original_url}"%> onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="fa fa-google-plus-square"></span></a>

  <a href="#"><span class="fa fa-pinterest-square"></span></a>

</div>

<!-- Load Google+ JavaScript -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
