<div class="social_sharing_buttons pull-left">
  <!-- Twitter Button -->
  <%= link_to raw('<span class="fa fa-twitter-square"></span>'), "https://twitter.com/share?text=Check out this awesome lesson from @TheOdinProject &hashtags=learntocode&url=#{request.original_url}", :data => {toggle: 'tooltip'}, title: "Tweet this lesson" %>
  <!-- Facebook Button -->
  <%= link_to raw('<span class="fa fa-facebook-square"></span>'),
    "https://www.facebook.com/dialog/share?app_id=1391239864499204&href=#{request.original_url}&redirect_uri=#{request.original_url}", :data => {toggle: 'tooltip'}, title: "Share on Facebook" %>
  <!-- Google+ Button -->
  <a data-toggle="tooltip" title="Share on Google+" href=<%="https://plus.google.com/share?url=#{request.original_url}"%>><span class="fa fa-google-plus-square"></span></a>
  <!-- Pinterest Button -->
  <a data-toggle="tooltip" title="Pin this lesson" href=<%="//www.pinterest.com/pin/create/button/?url=#{request.original_url}&media=#{image_url('odin_big_silhouette.gif')}&description=#{url_format(@lesson.title)}"%> target="__blank"><span class="fa fa-pinterest-square"></span></a>
</div>

