<div class="dropdown">
  <div class="avatar" style="background-image:url(<%= current_user.image %>)" data-toggle="dropdown"></div>
  <ul class="dropdown-menu menu-options">
    <li>
      <%= link_to raw('<span class="drop-down-logo dashboard-logo"></span>Dashboard'), dashboard_path, class: 'drop-down-link accent' %>
    </li>
    <li>
      <%= link_to raw('<span class="drop-down-logo settings-logo"></span>Settings'), edit_user_registration_path, class: 'drop-down-link accent' %>
    </li>
    <li>
      <%= link_to raw('<span class="drop-down-logo logout-logo"></span>Log out'), logout_path(ref: 'homenav'), class: 'drop-down-link accent' %>
    </li>
  </ul>
</div>