<div class="span6 offset3" id="devise=form">

  <h2>Preferences</h2>

  <%= simple_form_for @user_pref do |f| %>

    <div class="form-inputs">
      Stuff!
    </div>

    <%= f.button :submit, "Update", :class => "btn-primary btn-large pull-right" %>

  <% end %>

</div>