@layer components {
  body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .page-heading-title {
    @apply text-3xl text-gray-900 font-semibold pb-10 text-center mx-auto;
  }
}
