<div class="modal modal-main fade"
  id="delete-project-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="projectSubmissionDeleteModal"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-main__header">
        <button type="button" class="close modal-main__close-icon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="delete-project-form text-center">
          <h1 class="delete-project-form__title accent">Delete project</h1>
          <p class="text-center">
            Are you sure you want to delete the project submission?
          </p>

          <div class="delete-project-form__actions">
            <%= link_to [lesson, project],
              class: 'button btn-danger',
              method: :delete,
              remote: true do %>
              <i class="fas fa-trash"></i>&nbsp;Yes, delete it
            <% end %>

            <%= button_tag 'No, I changed my mind',
              type: 'button',
              class: 'button',
              data: { dismiss: 'modal' }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
