<div class="modal fade" id="project-submission-modal" tabindex="-1" role="dialog"  aria-labelledby="projectSubmissionModal" aria-hidden="true" data-backdrop="static" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <%= render 'projects/form', lesson: lesson, project: project %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->