<div class="modal modal-main fade"
  id="project-report-modal"
  tabindex="-1"
  role="dialog"
  data-backdrop="true"
  aria-labelledby="projectReportModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-main__header">
        <button type="button" class="close modal-main__close-icon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render 'projects/report_form', lesson: @lesson %>
      </div>
    </div>
  </div>
</div>
