.banner {
  text-align: center;
  margin-bottom: 1.5rem;

  &__title {
    margin-top: 1.25rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__progress {
    font-size: 1.2em;
    color: $grey;
  }
}
