.curriculum-background {
  position: relative;

  &:after {
    background: asset-url('home-isometric.svg') no-repeat;
    background-position: bottom;
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
