.section-lessons {

  &__item {
    display: flex;
    padding: 10px 0;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;
    min-height: 59px;

    @include media-breakpoint-down(xs) {
      font-size: 1.2rem;
      min-height: 52px;
    }

    &__link {
      color: $primary;
    }
  }
}
