.section-lessons {

  &__item {
    display: flex;
    padding: 10px 0;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      font-size: 1.2rem;
    }

    &__link {
      color: $primary;
    }

    &__icon {
      font-size: 2rem;
      color: $pale-grey;
      opacity: 0.3;
      padding-left: 10px;
      background-color: transparent;
      display: flex;

      &--completed {
        color: $success-color;
        opacity: 1;
      }

      @include media-breakpoint-down(xs) {
        font-size: 1.7rem;
      }
    }
  }
}
