<div style="width: 30em; font-size: 1.1em; margin-left: auto; margin-right: auto; padding-left: 1em;">
    <br>
    <span style="font-size:1.3em">New feedback suggestion for The Odin Project!  </span>
    <br>
    <br>
    User <%= @user_email %> was on <%= @url %> and said:
    <br>
    <br>
    <%= @suggestion_text %>
    <br>
    <br>
  <hr>
</div>
