<div class="card-main" style="max-width:50%;margin:auto">
  <%= form_with url: lessons_style_tests_path, html: {class: 'form' } do |form| %>
    <div class="form__section">
      <%= form.text_field :url, placeholder: 'Github URL', class: 'form__element' %>
    </div>

    <div class="form__button-section">
      <%= form.submit 'Render', class: 'button button--primary full-width' %>
    </div>
  <% end %>
</div>
