body {
    font-size: 14px;
    color: navy;
    font-family: helvetica, arial serif, "Times New Roman"
    background: body {
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
}



p:first-letter {
    font-size: 24px;
    font-weight: bold;
    float: bottom;

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#content {
    margin-left: 200px;
}

a:hover {
  color: red;
  font-size:30px;
}

input:focus, textarea:focus {
    background: red;
}

h1 {
    color: #ffc;
    background-color: #009;
}

h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}

#bold-test{
  font-weight: bold;
}

#italic-CSS{
  font-style: italic;
}

#small-caps{
  font-variant: small-caps;
}

#all-caps{
  text-transform: uppercase;
}

#underline{
  text-decoration: underline;
}

#overline{
  text-decoration: overline;
}

#line-through{
  text-decoration: line-through;
}

#box-model {
  width: 800px
}

