<%= title(@lesson.title) %>

<div class="container tmp-container-spacer">
  <div class="row">
    <div class="col-12">
      <%= react_component(
          "project-submissions/index",
          {
            userId: current_user&.id,
            course: @lesson.course.as_json,
            lesson: @lesson.as_json,
            submissions: @project_submissions.map { |submission| ProjectSubmissionSerializer.as_json(submission, current_user) },
            userSubmission: @user_submission
          }
        ) %>

    <%= paginate @project_submissions %>
    </div>
  </div>
</div>
