/* User styles */

body{
  background-color: #f9faf7;
  font-size: 175%;
  /*font-family: courier;*/
}

p{
  margin-bottom: 20px;
  margin-top: 20px;
}

#header_wrap h1{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}
#header_wrap h2{
  font-size: 25px;
  padding-left: 10px;
  margin-top: 15px;
}

#sidebar{
  font-family: courier, monospace;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


#main_content{

}