<div class="error-page">
  <div class="col-10 offset-1">
    <div class="error-page__image">
      <div class="error-message">
        <h1 class="error-message__title">Looks like you're lost, Odinite!</h1>
        <p class="error-message__sub-title">Take me back to <%= link_to 'theodinproject.com', home_path, class: 'error-message__link'%></p>
      </div>
    </div>
  </div>
</div>
