<div class="bg-blue-400">
  <div class="grid grid-cols-12">
    <div class="col-span-12 lg:col-span-10 lg:col-start-2">
      <div class="text-center pt-16 -mt-25px">
        <h1 class="text-white text-3xl lg:text-4xl font-bold ">Looks like you're lost, Odinite!</h1>
        <p class="text-white">While you're here, maybe take a second to learn about <%= link_to 'HTTP status codes', 'https://en.wikipedia.org/wiki/List_of_HTTP_status_codes', class: 'text-white font-bold underline'%></p>
        <p class="text-white">Or just head back to <%= link_to 'theodinproject.com', home_path, class: 'text-white font-bold underline'%></p>
      </div>

      <div class="h-60v">
        <%= inline_svg_tag "404-island.svg", class: 'text-blue-400 w-full' %>
      </div>
    </div>
  </div>
</div>
