<div class="error-page-background">
  <div class="error-message">
    <h1 class="error-message__title">Looks like you're lost, Odinite!</h1>
    <p class="error-message__sub-title">Take me back to <a class="error-message__link"href="http://www.theodinproject.com/">theodinproject.com</a></p>
  </div>
</div>
