<div class="card-main advert">
  <div class="advert__header">
    <h2 class="advert__pitch">Are you interested in accelerating your web development learning experience?</h2>
    <a href="https://www.thinkful.com/?utm_source=odin&utm_medium=cpc&utm_campaign=odin-homepage&utm_content=web-dev-3-icons" class="button button--primary ad">Get started</a>
  </div>
  <div class="advert__body">
    <a href="https://www.thinkful.com/?utm_source=odin&utm_medium=cpc&utm_campaign=odin-homepage&utm_content=tf-logo" alt="Thinkful" class="advert__brand-anchor ad">
        <div class="advert__brand">
          <%= image_tag 'advert/thinkful-logo.svg', alt: 'Thinkful Logo', class: 'advert__logo' %>
          <h2 class="advert__brand-name">Thinkful</h2>
        </div>
    </a>
    <ul class="advert__icons-group">
      <li class="advert__icons-group-item">
        <%= image_tag 'advert/icon-calendar.svg', alt: '5-6 months', class: 'advert__icon' %>
        <p class="advert__icon-text">5-6 months</p>
      </li>

      <li class="advert__icons-group-item">
        <%= image_tag 'advert/icon-guarantee.svg', alt: 'Job Guarantee', class: 'advert__icon' %>
        <p class="advert__icon-text">Job Guarantee</p>
      </li>

      <li class="advert__icons-group-item">
        <%= image_tag 'advert/icon-mentor.svg', alt: '1-on-1 Mentorship', class: 'advert__icon' %>
        <p class="advert__icon-text">1-on-1 Mentorship</p>
      </li>
    </ul>
  </div>
</div>
