<div id="lower-banner" class="adimage" data-ad-id="2">
  <%= link_to "http://www.vikingcodeschool.com/?ref=The+Odin+Project" do %>
    <div class="alt-txt lower-alt-txt">
      The Viking Code School
    </div>
    <%= image_tag "http://s3.amazonaws.com/viking_education/mktg/viking_ad_468x60.png" %>
  <% end %>
</div>