<div class="row">
  <div class="col new-submission text-center mt-3 mb-3">
    <p class="new-submission__description">Share your solution!</p>

    <%= link_to 'Add your solution',
      '#',
      class: 'button button--primary add-submission-button',
      id: 'add-submission-button',
      data: { toggle: 'modal', target: '#project-submission-modal' }
    %>
  </div>
</div>
