<div id="right-box" class="adimage" data-ad-id="11">
  <p>
    From the creators of The Odin Project...
  </p>
  <%= link_to "http://www.vikingcodeschool.com/?utm_source=theodinproject&utm_medium=sideunit&utm_campaign=display&ref=The+Odin+Project" do %>
    <div class="alt-txt">
      The Viking Code School
    </div>
    <%= image_tag "http://s3.amazonaws.com/viking_education/mktg/viking_ad_180x150.png" %>
  <% end %>
</div>