<div class='slack-link-box'>
  <%= link_to '<i class="fa fa-slack"></i> Discuss this Lesson on our Chat'.html_safe, slack_link(@course),
      class: 'btn btn-success btn-block slack-link-btn' %>
      
  <div class='slack-sign-up'>
    <%= link_to "Don't have an account? Sign up here", 'https://slackin-theodinproject.herokuapp.com/' %>
  </div>
</div>
