<div class="submissions-container">
  <div class="submissions-container__header">
    <h4 class="submissions-container__title secondary bold">Solutions</h4>

    <% if @projects.empty? %>
      <p class="submissions-container__instuctions">This project has no solutions yet, be the first!</p>
    <% else %>
      <p class="submissions-container__instuctions">
        Showing the most recent solutions. View the full list of solutions <%= link_to 'here', lesson_projects_path(@lesson), class: 'projects-link accent', target: '_blank' %>
      </p>
    <% end %>
  </div>

  <% @projects.each do |project| %>
    <%= render 'projects/project', project: ProjectDecorator.new(project) %>
  <% end %>
</div>
