<div class="card-main viking-advert">
  <div class="viking-advert__header">
    <h2 class="viking-advert__pitch">Are you interested in a more immersive web development learning experince?</h2>
    <a href="http://www.vikingcodeschool.com/?utm_source=theodinproject&utm_medium=sideunit&utm_campaign=display&ref=The+Odin+Project" class="button button--primary">Learn more</a>
  </div>
  <div class="viking-advert__body">
    <div class="viking-advert__brand">
      <%= image_tag 'viking_advert/viking-logo.png', alt: 'Viking Code School Logo', class: 'viking-advert__logo' %>
      <h2 class="viking-advert__brand-name">Viking Code School</h2>
    </div>
    <ul class="viking-advert__icons-group">
      <li class="viking-advert__icons-group-item">
        <%= image_tag 'viking_advert/icon-calendar.svg', alt: '12 weeks', class: 'viking-advert__icon' %>
        <p class="viking-advert__icon-text">12 Weeks</p>
      </li>

      <li class="viking-advert__icons-group-item">
        <%= image_tag 'viking_advert/icon-computer.svg', alt: 'Fully Online', class: 'viking-advert__icon' %>
        <p class="viking-advert__icon-text">Fully Online</p>
      </li>

      <li class="viking-advert__icons-group-item">
        <%= image_tag 'viking_advert/icon-mentor.svg', alt: 'Mentorship', class: 'viking-advert__icon' %>
        <p class="viking-advert__icon-text">Mentorship</p>
      </li>
    </ul>
  </div>
</div>
