<h1>Lessons Index</h1>

<ul>
  <% @lessons.each do |lesson| %>
    <%= link_to lesson_path(lesson.course.title_url, lesson.title_url) do %>
      <li><%= lesson.title %></li>
    <% end %>
  <% end %>
</ul>