.error-page {
  background-color: #13acff;

  &__image {
    background: asset_url("404-island.svg") no-repeat;
    background-position: center;
    background-size: 100%;
    height: 60vh;
    width: 100%;
  }
}
