.error-page-background {
  background: asset_url("404-isometric.svg") no-repeat ;
  background-position: center center;
  background-size: contain;
  background-color: rgba(60, 175, 240, 0.9);
  height: 75vh;
}
