.error-message {
  text-align: center;
  padding-top: 4rem;
  margin-top: -25px;

  &__title {
    font-size: 2.5em;
    font-weight: bold;
    color: $white;

    @include media-breakpoint-down(sm) {
      font-size: 2em;
    }
  }

  &__sub-title {
    color: $white;
  }

  &__link {
    color: $white;
    text-decoration: underline;
    font-weight: bold;
  }
}
