<div class="row contact">
  <div class="col-sm-6 odin-logo">
    <%= image_tag 'about_page/odin-wink.gif', alt: 'Odin logo', class: 'img-responsive' %>
  </div>

  <div class="col-sm-6 col-lg-5 contact-details">
      <h1 class="accent">
        Want to contact us?
      </h1>

      <p class="contact-details__sub-heading">
        Connect with our friendly community on gitter, a chat and networking platform.
      </p>

    <%= link_to 'Chat on Gitter', chat_link, class: 'button button--secondary', target: '_blank' %>
  </div>
</div> <!-- /.contact -->
