<div class="contribute">
  <div class="container">
    <div class="row">
      <h2 class="text-center">
        Help the Odin Project stay current and meaningful to all future students, please contribute
      </h2>

      <%= link_to 'Learn how to contribute', contributing_path, class: 'cta' %>
    </div>
  </div>
</div> <!-- /.contribute -->
