<div class="row contact">
  <div class="col-md-6 odin-logo">
    <%= image_tag 'about_page/odin-wink.gif', alt: 'Odin logo', class: 'img-responsive' %>
  </div>

  <div class="col-md-6 col-lg-5 contact-details">
      <h2 class="contact-details__heading">
        Want to contact us?
      </h2>

      <p class="contact-details__sub-heading">
        Connect with our friendly community on gitter, a chat and networking platform or <a href="mailto:contact@theodinproject.com">send us an email</a>
      </p>

    <%= link_to 'Chat on Gitter', chat_link, class: 'button button--secondary', target: '_blank' %>
  </div>
</div> <!-- /.contact -->
