<div class="row intro">
  <div class="container">
    <h1 class="text-center about-page-title">
      About The Odin Project
    </h1>
    <div class="col-md-10 offset-md-1">
      <p class="text-center">
        The Odin Project is one of those "What I wish I had when I was learning" resources.  Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway.  This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.
      </p>
    </div>
  </div>
</div> <!-- /.intro -->
