<section class="overview">
  <div class="container">
    <h2 class="overview__heading accent">Overview of The Odin Project</h2>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">80,000</p>
          <p>Learners</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">1500</p>
          <p>Contributors</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="odin-stat card-main">
          <p class="odin-stat__content">2013</p>
          <p>Founded</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-lg-8">
        <div class="card-main overview-card">
          <h3 class="overview-card__heading">Origin of The Odin Project</h3>
          <p class="overview-card__content">The Odin Project provides a free open source coding curriculum that can be taken entirely online. Since it’s inception, it has helped many students get hired as developers and has assisted countless others learn enough programming to work on their own personal projects.</p>
          <p class="overview-card__content">Founded in 2013 by Erik Trautman, The Odin Project is now sponsored by <a href="https://www.thinkful.com/?utm_source=odin&utm_medium=cpc&utm_campaign=odin-about" alt="Thinkful, a new type of technology school that provides 1-on-1 learning">Thinkful</a>, a new type of technology school that provides 1-on-1 learning through its network of industry experts, hiring partners, and online platform to deliver a structured and flexible education. The Odin Project is maintained and continually improved by a team of volunteers, many of whom learned to code with us.</p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class=" card-main overview-card">
          <i class="fab fa-github fa-3x"></i>
          <h3 class="overview-card__heading overview-card__heading--inline">Open Source</h3>
          <p class="overview-card__content">This website and the curriculum it hosts are completely open source. That means anyone can work on new features or fix existing bugs on the website. This also extends to the curriculum itself, anyone can work on new lessons, add new resources and improve existing lessons.</p>
          <p class="overview-card__content">The Odin project would not be possible without the hard work of contributors from all across the world. If you're interested in helping us make Odin better please find out <a href="<%= contributing_path %>">how to contribute.</a></p>
        </div>
      </div>

    </div>
  </div>
</section>
