<section id="overview">
  <div class="container">
    <h3 class="section-heading accent bold text-center">Overview of TheOdinProject</h3>
    <div class="row stats-container">
      <div class="col-12 col-sm-5 col-md-5 col-lg-3 offset-lg-1 card-main stats">
        <p class="stat">2371</p>
        <p>Learners who signed up</p>
      </div>

      <div class="col-12 col-sm-5 offset-sm-1 col-md-5 offset-md-1 col-lg-3 offset-lg-1 card-main stats">
        <p class="stat">63</p>
        <p>Contributors to TOP</p>
      </div>

      <div class="col-12 col-sm-5 col-md-6 col-lg-3 offset-lg-1 card-main stats">
        <p class="stat">2011</p>
        <p>Birth of TheOdinProject</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 offset-lg-1 card-main origin">
        <h4 class="heading bold">Origin of TheOdinProject</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas interdum nulla, quis maximus ante mattis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent luctus lorem vitae faucibus hendrerit. Proin vestibulum eu nulla at fringilla. Quisque porttitor suscipit lacus, vel mattis lacus consectetur quis. In ac faucibus arcu. Aenean bibendum, lacus porttitor aliquam mollis, est est imperdiet urna, non faucibus lacus eros sed dolor. Cras id nunc nulla. Etiam dictum risus sed ante feugiat, quis molestie metus mollis. In hac habitasse platea dictumst.
        </p>
      </div>

      <div class="col-12 col-md-4 col-lg-3 offset-lg-1 card-main open-source-container">
        <div class="row open-source">
          <div class="col-3">
            <i class="fa fa-github fa-3x"></i>
          </div>

          <div class="col-9">
            <h4 class="heading">Open Source</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas interdum nulla, quis maximus ante mattis at.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
