<div class="row story light-grey">
    <h2 class="text-center">The Story of The Odin Project</h2>

  <div class="col-sm-10 offset-sm-1">
    <% timelines.each do |timeline| %>
      <%= render 'static_pages/about/timeline', timeline: timeline %>
    <% end %>
  </div> <!-- /.col -->
</div> <!-- /.story -->
