<div class="row timeline">
  <div class="col-md-2 year">
    <h4 class="bold accent text-right">
      <%= timeline[:year] %>
    </h4>
  </div>

  <div class="col-md-10">
    <p class="small goldbar">
      <%= timeline[:event] %>
    </p>
  </div> <!-- /.col -->
</div> <!-- /.timeline -->
