<div class="row timeline">
  <div class="col-md-2 year">
    <h3 class="text-right">
      <%= timeline[:year] %>
    </h3>
  </div>

  <div class="col-md-10">
    <p class="goldbar">
      <%= timeline[:event] %>
    </p>
  </div> <!-- /.col -->
</div> <!-- /.timeline -->
