div {margin: o; padding: 0;}
div div {background: #A4CA39; position: relative;}

.android{
	height: 404px; width: 334px;
	margin: 100px auto;
}

.head{ 
	width: 220px; height: 100px;
	top: 32px;

	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;

}

.l-eye, .r-eye {
	background: #fff;
	width: 20px; height: 20px;
	position: absolute; top: 42px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.l-eye {left: 50px;}
.r-eye {right: 50px;}

.l-ant, .r-ant {
	width: 6px; height: 50px;
	position: absolute; top: -34px;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.l-ant {
	left: 50px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}

.r-ant {
	right: 50px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.body {
	width: 220px; height: 184px;
	top: 40px;
	border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}

.l-arm, .r-arm, .l-leg, .r-leg {
 width: 50px; position: absolute; 
}

.l-arm, .r-arm {
	height: 150px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

.l-leg, .r-leg {
	height: 80px; top: 182px;
	border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
}

.l-arm {left: -58px;}
.r-arm {right: -58px;}
.l-leg {left: 45px;}
.r-leg {right: 45px;}
