<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="modal" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="toggle-navigation">
  <span class="navbar-toggler-icon open"></span>
  <span class="sr-only">Open navigation</span>
</button>