  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="toggle-navigation">
    <span class="navbar-toggler-icon open"></span>
    <span class="close" aria-hidden="true">&times;</span>
  </button>