<div class="row">
  <div class="col-xl-10 offset-xl-1">
    <div class="card-main course-card bg-white">
      <%= render 'course_completion_indicator', course: course %>

      <%= render 'course_overview', course: course %>
    </div> <!-- /.course-card -->
  </div> <!-- /.col -->
</div> <!-- /.row -->
