<%= title('Courses') %>

<div class="curriculum">
  <div class="container CoursesController">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <div class="heading">
          <h1 class="text-center camel light curriculum-title">Curriculum</h1>
        </div>

        <div class="courses-list">
          <% @courses.each do |course| %>
            <%= render 'course_card', course: course %>
          <% end %>
        </div>
      </div> <!-- /.col-lg-10 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.curriculum -->
