<%= title('Courses') %>

<div class="container">
  <div class="row CoursesController">
    <div class="col-lg-10 offset-lg-1">
      <div class="heading-box">
        <div class="heading">
          <h1 class="text-center camel light curriculum-title">Curriculum</h1>
        </div> <!-- /.heading -->

        <div>
          <p>
            If you want to learn web development, you've come to the right place.  We found the best free resources out there and grouped them into the courses listed below so you don't have to waste time doing it yourself. We've also created projects for you to build along the way so you can really learn the material and boost your portfolio.
          </p>
          <p>
            The courses are designed to be completed in order, so start from the top and work your way down. The best part is, <strong>it's free!</strong>
          </p>
        </div>
      </div> <!-- /.heading-box -->

      <div class="courses-list">
        <% @courses.each do |course| %>
          <%= render 'course_card', course: CourseDecorator.new(course) %>
        <% end %>
      </div> <!-- /.courses-list -->
    </div> <!-- /.col-lg-10 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
