<%= title('Courses') %>

<div class="curriculum-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="text-center camel light curriculum-title mx-auto">Curriculum</h1>

        <% @courses.each do |course| %>
          <%= render 'course_card', course: course %>
        <% end %>
      </div> <!-- /.col-lg-10 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.curriculum -->
