<%= title(@course.title) %>

<div class="gradient odin-dark-bg">
  <div class="content-container">
    <%= render 'courses/course/banner', course: @course %>

    <div class="mb-6">
      <h2 class="text-xl font-semibold text-gray-500">Overview</h2>
      <p class="text-gray-500"><%= @course.description %></p>
    </div>

    <%= render @sections, locals: { course: @course } %>
  </div>
</div>
