<%= title(@course.title) %>

<div class="CoursesController gradient">
  <div class="container course">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <%= render 'courses/course/banner',course: @course %>

        <%= render 'courses/course/overview', course: @course %>

        <%= render 'courses/course/sections', sections: @sections %>
      </div>
    </div>

    <!-- Preload the assets to avoid flickering when first used -->
    <div class="lc-checkbox-wrapper">
      <div class="lc-hover"></div>
      <div class="lc-waiting"></div>
    </div> <!-- /.lc-checkbox-wrapper -->
  </div> <!-- /.course -->
</div> <!-- /.CoursesController -->
