<%= title(@course.title) %>

<div class="gradient">
  <div class="container tmp-container-spacer">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">

        <%= render 'courses/course/banner',course: @course %>

        <div class="course-description">
          <h2 class="course-description__heading text-2xl">Overview</h2>
          <p><%= @course.description %></p>
        </div>

        <%= render 'courses/course/sections', sections: @course.sections, course: @course %>

      </div>
    </div>
  </div>
</div>
