<div class="lesson-content flex justify-center">
  <%= link_to github_link("theodinproject/blob/main/#{filename}"),
    target: :_blank,
    rel: 'noreferrer noopener',
    class: 'lesson-functions__edit-lesson-link' do %>
    <span class="fab fa-github mr-1"></span>
    <span> Suggest improvements for this page on GitHub</span>
  <% end %>
</div>
