<div class="flex justify-center">
  <%= link_to  github_link("theodinproject/blob/main/#{filename}"), target: :_blank, rel: 'noreferrer noopener', class: 'text-gold text-lg block mt-14' do %>
    <span class="fab fa-github mr-1"></span>
    <span>Suggest improvements for this page on GitHub</span>
  <% end %>
</div>
