#about {

    .row {
        padding-top: 40px;
        padding-bottom: 40px;
        color: $text-primary;
    }
    
    .intro {
        h1 {
            color: $primary;
            width: 100%;
        }
    }
    
    .mission {
        h2 {
            width: 100%;
        }
        img {
            margin: auto;
            display: block;
        }
        .row {
            width: 95%;
            margin: auto;
        }
        .leftcol {
            width: 100%;
        }
    }
    .story {
        padding: 20px;
        h2 {
            width: 100%;
            color: $primary;
        }
        .leftcol {
            width: 25%;
            h3 {
                color: $primary;
                text-align: right;
                padding-right: 30px;
                transform: translateY(-15px);
            }
        }
        .rightcol {
            width: 75%;
            position: relative;
            p {
                padding-left: 30px;
            }
        }
    }
    .contact {
        margin:auto;
        h2 {
            color: $primary;
        }
        .leftcol {

            img {
                width: 200px;
                margin: auto;
            }
        }
        .rightcol {
            margin-top: 20px;
            float: right;
            div.speech-bubble {
                background: $light-grey;
                padding: 20px;
                max-width: 320px;
                position: relative;
                z-index: 1;
                margin: auto;
            }
            div.speech-bubble:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                transform: rotate(135deg);
                left: 150px;
                top: -25px;
                border: 25px solid;
                border-color: $light-grey transparent transparent $light-grey;
            }
        }

        .cta {
            text-decoration: none;
            background-color: $primary;
            color: #ffffff;
            display: block;
            text-align: center;
            padding: 0 1.5em 0 1.5em;
            width: 200px;
            height: 60px;
            border-radius: 3px;
            line-height: 60px;
            margin: 70px auto 70px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
            font-weight: bold;
            letter-spacing: 0.2px;
            font-size: 18px;
        }
    }
    .contribute {

        color: #999;
        background: linear-gradient(white, $light-grey);
        .cta {
            text-decoration: none;
            background-color: $button-primary;
            color: #ffffff;
            display: block;
            max-width: 350px;
            text-align: center;
            height: 60px;
            border-radius: 3px;
            line-height: 60px;
            margin: 70px auto 0;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
            font-weight: bold;
            letter-spacing: 0.2px;
            font-size: 18px;
        }
    }
    
    .goldbar {
        border-top: solid $primary 2px;
        position: relative;
    }
    
    .goldbar:before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -10px;
        left: -60px;
        background: $primary;
        display: block;
        position: relative;
    }
    
}

@media (min-width: 480px) {
    .mission {
        .row {
            width: 90%;
            display: flex;
        }
        img {
            margin-right: 15px;
            float: right;
            display: inline-block;
        }
        .leftcol {
            flex: 1;
            
        }
        .rightcol {
            flex: 4;
        }
    }
}

@media (min-width: 768px) {
        .mission {
        .row {
            width: 90%;
            display: flex;
        }
        img {
            margin-right: 15px;
            float: right;
            display: inline-block;
        }
        .leftcol {
            flex: 1;
            
        }
        .rightcol {
            flex: 4;
        }
    }
}

@media (min-width: 942px) {
   #about {
    .row {
        padding: 40px;
    }
    
    .intro {
        width: 80%;
        margin: auto;
    }
    .mission {
        .row {
            width: 90%;
            display: flex;
        }
        img {
            margin-right: 15px;
            float: right;
            display: inline-block;
        }
        .leftcol {
            flex: 1;
            
        }
        .rightcol {
            flex: 4;
        }
    }
    .story {
        .leftcol {
            h3 {
                padding-right: 60px;
            }
        }
        .rightcol {
            p {
                padding-left: 60px;
            }
        }
    }
    .contact {
        .leftcol {
            width: 40%;
            float: left;
            img {
                margin-right: 20px;
                float: right;
            }
        }
        .rightcol {
            width: 55%;
            div.speech-bubble:after {
                transform: rotate(-45deg);
                left: -25px;
                top: 80px;

            }
        }
    }
  }
}