.about .row {
    padding: 60px 20px;
    color: $text-primary;
}

.intro {
    text-align: center;
    h1 {
        color: $primary;
        text-align: center;
    }
}

.mission {
    h2 {
        text-align: center;
    }
    .leftcol {
        width: 33%;
    }
    .rightcol {
        width: 67%;
    }
}
.story {
    h2 {
        text-align: center;
        color: $primary;
    }
    .leftcol {
        width: 25%;
    }
    .rightcol {
        width: 75%;
        p {
            margin-left: 30px;
            .goldbar {
                border-top: solid $primary 2px;
                position: relative;
            }
            
            .goldbar:before {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: -10px;
                background: $primary;
                display: block;
                position: relative;
            }
        }
    }
}
.contact {
    .leftcol {
        width: 45%;
        img {
            width: 100%;
        }
    }
    .rightcol {
        width: 45%;
        h2 {
            text-align: center;
        }
    }
    
    .cta {
        text-decoration: none;
        background-color: $primary;
        color: #ffffff;
        display: block;
        text-align: center;
        padding: 0 1.5em 0 1.5em;
        width: 250px;
        height: 60px;
        border-radius: 3px;
        line-height: 60px;
        margin: 70px auto 70px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        font-weight: bold;
        letter-spacing: 0.2px;
        font-size: 18px;
    }
}
.contribute {
    text-align: center;
    .cta {
        text-decoration: none;
        background-color: $button-primary;
        color: #ffffff;
        display: block;
        width: 400px;
        text-align: center;
        height: 60px;
        border-radius: 3px;
        line-height: 60px;
        margin: 70px auto 0;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        font-weight: bold;
        letter-spacing: 0.2px;
        font-size: 18px;
    }
}







