.button {
  $button-colors: (
    "primary": $button-primary,
    "secondary": $button-seconday,
    "danger": $red-danger,
    "github": $github-brand-color,
    "google": $google-brand-color,
  );

  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: $white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.8;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    color: $white;
  }

  &--transparent {
    border: solid 3px $pale-grey;
    box-shadow: none;
    color: $pale-grey;
    letter-spacing: 0.2px;

    &:hover {
      color: $black;
      opacity: 0.8;
      border: 3px solid $black;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem 2.5rem;
  }

  @each $color-variant, $color in $button-colors {
    &--#{$color-variant} {
      background-color: $color;
    }
  }
}
