.card-main {
  @include box-shadow(0 5px 16px 0 $very-pale-grey);
  background-color: $white;
  margin-bottom: 40px;
  padding: 40px 60px;
  position: relative;

  &--shadowless {
    @include box-shadow(none);
  }

  @include media-breakpoint-down(xs) {
    padding: 30px;
  }
}

.card-block {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
