.page-title {
  margin-bottom: 30px;
}

.contributing {
  color: $text-primary;

  section {
    padding: 100px 20px 50px 20px;  
  }

  .card-contributing {
    height: 95%;
    margin-top: 5%;

    @include main-button($button-primary);

    .card-contributing-base {
      height: 100px;
    }

    .btn-wrap {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .media > img {
    padding: 0 30px 0 0;
  }

  .media-body > h5 {
    padding: 20px 0;
  }

  .camel-link {
    text-decoration: underline;
    color: $primary;

    &:hover, &:focus {
      color: darken($primary, 10%);
    }
  }

  // Hall of fame circles
  .grid {
    display: flex;
    flex-direction: column;
  }
  .circles {
    justify-content: space-around;
    display: flex;
    margin-bottom: -1em;
    align-items: center;
  }
  .circle {
    flex: 1;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: grey;
    overflow: hidden;

    &:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  .holder {
    flex: 3;
  }
  .spacer {
    flex: 2;
  }
  .spacer-1 {
    flex: 1;
  }

  @media (max-width: 600px) {

    section {
      padding: 50px 20px;
    }

    .container > h2 {
      margin-bottom: 0 !important;
    }

    .circles {
      margin-bottom: .2em;
      flex-wrap: wrap;
      order: 1;
    }
    .holder {
      flex-basis: 120px;
    }
    .circle {
      margin: .2em auto;
    }
    .spacer {
      display: none
    }
    .middle {
      order: 99;
    }
  }

}
