.curriculum {
  position: relative;
}

.curriculum:after {
  background: asset-url('home-isometric.svg') no-repeat;
  background-position: bottom;
  bottom: 0;
  content: "";
  height: 100%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.CoursesController {
  .heading {
    margin-bottom: 70px;
  }

  .courses-list {
    margin-bottom: 80px;

    .course-card {

      .cc-completion-indicator {
        background: rgba(106,191,195, 0.9);
        font-size: 14px;
        left: 0;
        padding: 8px;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .course-description {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 20px;
      }
    }
  }
}
