.curriculum {
  position: relative;
}

.curriculum:after {
  background: asset-url('home-isometric.svg') no-repeat;
  background-position: bottom;
  bottom: 0;
  content: "";
  height: 100%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.CoursesController {
  .heading {
    margin-bottom: 70px;
  }

  .courses-list {
    margin-bottom: 80px;

    .course-card {

      .cc-completion-indicator {
        background: rgba(106,191,195, 0.9);
        font-size: 14px;
        left: 0;
        padding: 8px;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .course-badge-title-wrapper {
        padding-bottom: 20px;
        @include media-breakpoint-down(sm) {
          text-align: center;
        }

        .view-course-button-wrapper {
          text-align: right;

          @include media-breakpoint-down(md) {
              text-align: center;
          }

          .button--secondary {
            padding: 1rem 1.5rem;
          }
        }
      }

      .course-badge-title {
        display: flex;
        padding: 0;

        .course-badge-img {
          width: 100px;
          height: 100px;

          @include media-breakpoint-down(md) {
            width: 80px;
            height: 80px;
          }
        }

        .course-title {
          margin-left: 2em;

          h2 {
            color: $text-primary;
            font-size: 18px;
            letter-spacing: 0.2px;
            margin: 0;
            max-width: 100%;
          }

          .lessons-count {
            font-size: 13px;
          }

        }

        @include media-breakpoint-down(md) {
          margin: 20px 0;
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          text-align: center;
          .course-title {
            margin-left: 0;
          }
          .course-badge-img {
            margin-left: 0;
            margin-bottom: 1em;
          }
        }
      }

      .course-description {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 20px;
      }
    }
  }

  .course {
    .heading {
      color: $grey;
      font-size: 18px;
      letter-spacing: 0.2px;
      margin: 0 0 30px;
    }

    .course-badge {
      margin: 30px 0;
      width: 150px;
    }

    .course-title {
      font-weight: 300;
      color: $text-primary;
      margin-bottom: 100px;
    }
    .course-overview {
      line-height: 1.88;
      letter-spacing: 0.2px;
      color: $text-primary;
      margin-bottom: 60px;
    }
  }

  .sections-list {
    padding-bottom: 116px;

    .section {
      .section-title {
        font-size: 24px;
        letter-spacing: 0.3px;
        margin-bottom: 16px;

        @include media-breakpoint-down(md) {
          h2 {
            margin: 0 0 16px;
          }
        }
      }

      .section-description {
        margin-bottom: 30px;
      }

      .course-lesson {
        .lesson-link {
          display: flex;

          a {
            display: block;
          }

          .lesson-link-text {
            color: $light-orange;
            font-size: 24px;
            padding: 10px;

            @include media-breakpoint-down(md) {
              font-size: 20px;
            }

            .lesson-title {
              padding-left: 20px;
            }
          }
        }

        .completion-status {
          color: $pale-grey;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0.2px;
          text-transform: uppercase;

          @include media-breakpoint-down(md) {
            text-align: right;
          }
        }
      }
    }
  }
}

.course-completion {
  color: $white;
  font-size: 24px;
  margin: 0 auto 100px;
  padding: 16px;
  background: $coffee;
}
