.course-badge {
  @include box-shadow(0 5px 16px 0 $very-pale-grey);
  @include border-radius(50%);
  display: inline-block;

  @include  media-breakpoint-down(sm) {
    margin-bottom: 1em;
  }

  &__image {
    width: 110px;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;

    @include media-breakpoint-down(md) {
      width: 80px;
      height: 80px;
    }
  }
}
