.curriculum-details {

  .view-curriculum-details {
    text-decoration: none;
    background-color: $primary;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
    width: 250px;
    height: 60px;
    border-radius: 3px;
    line-height: 60px;
    margin: 70px auto 70px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 18px;
  }

  .curriculum-details-title {
    text-align: center;
    margin-bottom: 100px;
    .coffee {
      color: $coffee;
    }

    .orange {
      color: $dusty-orange;
    }

    .camo {
      color: $camo;
    }
  }

  .curriculum-details-grid {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;

    .curriculum-details-tile {
      text-align: center;
      flex: 1;
      height: 340px;
      flex-basis: 33%;
      padding-top: 2em;

      h3 {
        margin-bottom: .2em;
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.2px;
        color: $text-primary;
      }
    }
  }
}
