#dashboard {
  .profile-card {
    margin-bottom: 100px;

    .user-avatar {
      width:100px;
      height:100px;
      margin: 0 auto 0 0;
      background-color:#000;
      border-radius:50%;
      overflow: hidden;
      
      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
    }

    .user-avatar-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .welcome-text {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
      color: $text-primary;
      font-size: 24px;
      margin-top: 20px;
      padding-bottom: 18px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      .learning-goal {
        a {
          text-decoration: underline;
          color: $grey;
        }
      }

      .completion-date {
        margin-top: 20px;
      }
    }

    &.card-main .row {
      align-items: center;
    }
  }

  .skills-progress {
    .skills-progress-heading {
      margin-bottom: 100px;
    }

    .skill-progress {
      .skill-progress-wrapper {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        padding-bottom: 30px;

        .course-title, .completed-text {
          font-size: 18px;

          @include media-breakpoint-down(sm) {
            text-align: center;
            padding-top: 10px;
          }
        }
        .lessons-count-wrapper {

          @include media-breakpoint-down(sm) {
            text-align: center;
          }

          .lessons-count {
            margin-left: 20px;
          }
        }

        .course-start-btn {
          color: $pale-grey;
          border: solid 3px rgba(73, 73, 73, 0.3);
          box-shadow: none;
          letter-spacing: 0.2px;
          padding: 1em 2em;
        }

        @include media-breakpoint-down(sm) {
          .course-badge {
            width: 80px;
          }

          .course-progress-wrapper {
            text-align: right;

            @include media-breakpoint-down(sm) {
              text-align: center;
            }
          }

          .lessons-count-wrapper, .course-progress-wrapper {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .project-submissions {
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.3));
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 60px;

    .solutions-heading {
      margin-bottom: 70px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px;
    }
  }
}
