.faq-title {
  margin-bottom: 2em;
}

#faq-accordion {
  padding: 4.4em 0 6em;

  .faq-card {
    margin-bottom: 1em;
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.1));
    border: 0;

    .faq-card-header {
      align-items: center;
      background-color: $white;
      border-bottom: 0;
      display: flex;
      justify-content: space-between;

      .faq-question-title {
        margin: 0;
        padding: 0.2em;
      }

      .expander, .minimizer {
        font-size: 24px;
      }

      .minimizer {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
