footer {
  background-color: #fff;
  padding: 0;
  text-align: center;
  font-size: 1em;
  min-height: 277px;
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;

  .footer-brand {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
  }

  .footer-social {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    a {
      font-size: 24px;
      flex:1;

      span:hover {
        color: $black;
      }
      img:hover {
        -webkit-filter: brightness(0) grayscale(1);
        filter: brightness(0) grayscale(1);
      }
    }
  }

  .footer-links {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;

    .footer-links-container {
      display: flex;
      width: 130px;
      height: 90px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-link {
      flex-basis: 30px;
      color: rgba(74, 74, 74, 0.7);
      font-weight: bold;
      text-decoration: none;
      margin: 0;

      &:hover {
        color: $black;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    min-height: 140px;
    .footer-brand {
      display: none;
    }
    .footer-links {
      flex: 1;
    }
  }
}

@media (max-width: 480px) {
  footer {
    min-height: 70px;
    .footer-links {
      display: none;
    }
    .footer-brand {
      display:none;
    }
  }
}
