.chat-floating-btn {
  background: $button-primary;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.09);
  cursor: pointer;
  padding: 1em;
  position: fixed;
  right: 20px;
  z-index: 1000;

  &:hover {
    box-shadow: 0 0 15px 6px rgba(0,0,0,0.09);
  }

  .fa.fa-comments {
    font-size: 2em;
    color: $white;
  }
}

@media(max-width: 480px) {
  .chat-floating-btn {
    display: none;
  }
}
