.homepage-hero {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #fff, #eee, #eee);
}


@media(max-width:800px) {
  .homepage-hero-image {
    width: 130%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
