.internal-link {
  align-items: center;
  color: $text-primary;
  display: flex;
  position: relative;

  &:hover{
    &:before {
      color: $black;
      content: "\f0c1";
      font-family: FontAwesome;
      font-size: 0.7em;
      left: -1.2em;
      position: absolute;
      transform: scaleX(-1);
    }
  }
}
