.logo {
  float: left;

  a {
    text-decoration: none;
  }

  .logo-text {
    color: #cc9543;
    padding-left: 10px;
    line-height: 100px;
    text-transform: uppercase;
    font-family: $logo-font;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.8em;
    display: inline-block;
  }

  .logo-img {
    float: left;
    height: 100px;
  }
}
