.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__text {
    flex: 1;
    color: $primary;
    text-transform: uppercase;
    font-family: $logo-font;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.6em;
    display: inline-block;
    padding-left: 0.5em;

    &.expanded{
      display: none;
    }

    @media screen and (max-width: 1036px) {
      font-size: 1.2em;
    }
  }

  &__img {
    height: 70px;
    transition: all .05s ease-in-out;

    &.expanded{
      transition: all .4s cubic-bezier(0.42, 0, 0.38, 1.38);
      flex: 1;
    }

    @media screen and (max-width: 992px) {
      height: 60px;
    }

    @media screen and (max-width: 480px) {
      height: 60px;
    }
  }
}
