.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo-text {
    flex: 1;
    color: #cc9543;
    text-align: center;
    text-transform: uppercase;
    font-family: $logo-font;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.6em;
    display: inline-block;
    &.expanded{
      display: none;
    }
  }
  .logo-img {
    height: 87px;
    transition: all .05s ease-in-out;
    &.expanded{
      transition: all .4s cubic-bezier(0.42, 0, 0.38, 1.38);
      flex: 1;
    }
  }

  @media screen and (max-width: 992px) {
    .logo-img {
      height: 60px;
    }
  }

  @media screen and (max-width: 480px) {
    .logo-text{
      font-size: 1.2em;
    }
    .logo-img {
      height: 60px;
    }
  }

}
