.navbar {
  padding: 20px 5% 0px 5%;
  margin-bottom: 50px;

  .navbar-nav {
    color: #676767;

    .nav-link {
      color: #676767;
      text-decoration: none;
      letter-spacing: 0.2px;
      line-height: 100px;
      color: #676767;
      font-size: 1.1em;
    }
    .divider {
      font-size: 1.5em;
      line-height: 90px;
    }
  }
}

.navbar-toggler-right {
  top: 45px;
  right: 5%;
}
