.navbar {
  max-height: 100%;
  margin-bottom: 50px;
  display: flex;
  padding: 7px 168px;
  background: #ffffff;
  z-index: 100;

  .navbar-toggler {
    position: absolute;
    top: 0;
    height: 68px;
    border: none;
    padding: 0;
    right: 0;

    .close {
      display: block;
      margin-top: 8px;
      font-size: 48px;
      color: $button-primary;
      font-weight: 100;
    }
    .open {
      display: none;
    }
    .navbar-toggler-icon {
      height: 60px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E");
      background-position: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .collapsed {
    .open {
      display: block;
    }
    .close {
      display: none;
    }
  }

  .navbar-nav {
    color: #676767;
    white-space: nowrap;
    align-items: center;

    hr {
      display: none;
    }

    .nav-item {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      .nav-link {
        color: $grey;
        text-decoration: none;
        letter-spacing: 0.2px;
        font-size: 1em;
        font-weight: bold;

        &:hover {
          color: $black;
        }
      }

      &.active .nav-link {
        color: $black;
      }
    }

    .divider {
      font-size: 2em;
      font-weight: 200;
      padding: 0 0.7rem;
    }

    .avatar {
      width: 30px;
      height: 30px;
      @include border-radius(50%);
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px)  {
  .navbar{
    padding: 12px 30px 0px 30px;
    margin-bottom: 62px;
  }
}

@media (max-width: 767px) {
  .navbar {
    position: fixed;
    padding: 0 20px;
    width: 100%;
    z-index: 1;
    .navbar-brand {
      width: 250px;
    }
    .navbar-toggler {
      margin-right: 20px;
    }
    .navbar-nav {
      margin-top: 20px;
      height: calc(100vh - 68px);
      padding: 20px 0 40px 0;
      display: flex;
      .dropdown-divider {
        background-color: $primary;
        margin: .5rem 3em;
        border: 1px solid $primary;
      }
      .nav-item {
        flex: 1;
        display: flex;
        order: initial;
        align-items: center;
        justify-content: center;
      }
      .nav-link {
        font-size: 36px;
        font-weight: 300;
        color: $primary;
        text-decoration: none;
        letter-spacing: 0.4px;
        line-height: .8em;
        text-align: center;
        transition: all .3s;
        &:hover {
          color: $primary;
          text-shadow: 0px 0px 8px rgba(204, 149, 67, .5);
        }
      }
      .divider {
        display: none;
      }
    }
  }
  .nav-spacer {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 20px;
  }
}
