.navbar {
  max-height: 100%;
  margin-bottom: 50px;
  display: flex;
  padding: 0 168px;
  z-index: 100;
  .navbar-toggler {
    height: 68px;
    .close {
      display: block;
      margin-top: 8px;
      font-size: 48px;
      color: $button-primary;
      font-weight: 100;
    }
    .open {
      display: none;
    }
    border: none;
    padding: 0;
    right: 0;
    .navbar-toggler-icon {
      height: 60px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#6abfc3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      background-position: center;
    }
  }
  .collapsed {
    .open {
      display: block;
    }
    .close {
      display: none;
    }
  }
  .navbar-nav {
    color: #676767;
    hr {
      display: none;
    }
    .nav-link {
      color: #676767;
      text-decoration: none;
      letter-spacing: 0.2px;
      line-height: 88px;
      font-size: 1.1em;
    }
    .divider {
      font-size: 1.5em;
      line-height: 78px;
    }
  }
}

@media (max-width: 1100px) {
  .navbar {
    padding: 0 42px;
    .navbar-toggler {
      margin-right: 42px;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    .navbar-brand {
      width: 250px;
      &.expanded {
        margin: 0;
        width: 100%;
      }
    }
    .navbar-nav {
      height: calc(100vh - 68px);
      padding: 20px 0 130px 0;
      display: flex;
      .dropdown-divider {
        background-color: $primary;
        margin: .5rem 3em;
      }
      .nav-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav-link {
        font-size: 36px;
        font-weight: 300;
        color: $primary;
        text-decoration: none;
        letter-spacing: 0.4px;
        line-height: .8em;
        text-align: center;
        transition: all .3s;
        &:hover {
          color: $primary;
          text-shadow: 0px 0px 8px rgba(204, 149, 67, .5)
;
        }
      }
    }
    .background {
      background-color: #fff;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -100;
    }
    
    .navbar-nav {
      margin-top: 20px;

      .divider {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 33px;
    .navbar-toggler {
      margin-right: 33px;
    }
  }
  .logo {
    width: 100%;

    .logo-img {
      float: none;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
   padding: 0 20px;
   .navbar-toggler {
      margin-right: 20px;
    }
  }
}
