// this needs to be prefixed with "odin-" as bootstrap already has a class named dropdown

.odin-dropdown {
  position: relative;

  &__hidden {
    transform: scale(0);
    opacity: 0;
    transition: transform ease-in 0.2s, opacity ease-in 0.01s;
  }

  &__menu {
    padding: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 40px;
    right: 0;
    list-style: none;
    border-radius: 10px;
    transform-origin: top right;
    transition: transform ease-in 0.2s, opacity ease-in 0.1s;
    background-color: $white;
  }

  &__toggle {
    background-color: inherit;
  }

  &__item {
    padding: 0.5rem 1rem;

    .active {
      color: $black;
      filter: saturate(50) grayscale(1)
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  &__item-icon {
    margin-right: 6px;
    width: 12px;
    height: 12px;
  }
}
