$back-color: #dddddd;

.progress-circle {
  background-color: $pale-grey;
  height: 110px;
  position: relative;
  width: 110px;

  @include media-breakpoint-down(md) {
    height: 90px;
    width: 90px;
  }

  &__inner {
    color: $grey;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top:  0.5rem;
    bottom: 0.5rem;

    &:hover {
      .progress-circle__image {
        display: none;
      }
    }
  }

  &__image {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    @media (max-width: 991px){
      top: -8px;
      left: -8px;
    }
  }

  &__content {
    font-size: 0.8rem;
    line-height: 1.3;
    color: $pale-grey;
  }

  &:after {
    background-color: $primary;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &--show-progress {
    .progress-circle__image {
      display: none;
    }

    &:hover {
      .progress-circle__image {
        display: inline-block;
      }
    }
  }

  &--completed {
    .progress-circle__image {
      display: inline-block;
    }

    &:hover {
      .progress-circle__image {
        display: none;
      }
    }

  }
}

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-circle[data-progress-percent-value=#{'"'+$i * $step+'"'}]:after {
    @if $i < $half {
      $next-deg: 90deg + $increment * $i;
      background-image: linear-gradient(90deg, $back-color 50%, transparent 50%, transparent), linear-gradient($next-deg, $success-color 50%, $back-color 50%, $back-color);
    } @else {
      $next-deg: -90deg + $increment * ($i - $half);
      background-image: linear-gradient($next-deg, $success-color 50%, transparent 50%, transparent), linear-gradient(270deg, $success-color 50%, $back-color 50%, $back-color);
    }
  }
}

/**
* attribution https://codepen.io/anon/pen/prYZOp
*/
