.report-form {

  &__container {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: 20px;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
  }

  &__option {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__submit-button {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
  }
}
