.success-stories {
  width: 100%;
  @media(max-width: 480px){
    padding-bottom: 0;
  }
  .success-stories-title {
    width: 100%;
    text-align: center;
    padding-top: 70px;
    letter-spacing: 0.3px;
    @media(max-width: 480px){
      padding-top: 50px;
    }
  }

  .success-stories-container {
    color: $text-primary;
    max-width: 1280px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 480px){
      margin-top: 20px;
    }
    .success-story {
      flex-basis: 49.9%;
      display: flex;
      @media (max-width: 480px){
          &.story-2 {
            display: none;
          }
          &.story-3 {
            display: none;
          }
        }
      padding-bottom: 36px;
      .name-and-photo {
        flex: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media(max-width: 480px){
          height: 90px;
        }
      }
      .photo1 {
        flex-basis: 100px;
        text-align: center;
        padding-top: 16px;
        display: flex;
        justify-content: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%
        }
        @media(max-width: 480px){
          display: none;
        }
      }
      .photo2 {
        display: none;
        flex-basis: 60px;
        text-align: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%
        }
        @media(max-width: 480px){
          display: block;
        }
      }
      .success-content {
        flex: 1;
      }
      @media(max-width: 480px) {
        padding: 0 26px 0 26px;
      }
    }
  }

  .success-stories-read-more {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    a {
      color: $grey;
      text-decoration: underline;
    }
  }
}

.success-stories-page {
  .success-stories-title-full {
    h1 {
      margin-bottom: 80px;
    }
  }

  .card-success-stories {
    margin-top: 20px;
    padding: 20px 30px;

    .success-content {
      flex: 1;
    }

    .student-name {
      margin-bottom: 20px;
    }

    .completed-label {
      position: absolute;
      right: 10px;
      top: 0;
      color: $pale-grey;
    }

    .photo {
      flex-basis: 100px;
      text-align: center;
      padding-top: 16px;
      margin-right: 5px;

      img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }
    }
  }

  .success-stories-read-more {
    width: 100%;
    text-align: center;

    a {
      color: rgba($text-primary, 0.7);
    }
  }
}
