#user_settings{
  padding-bottom: 110px;
  .settings-card {
    background: $white;
    max-width: 780px;
    padding: 22px 32px;
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
  }
  .settings-section {
    max-width: 780px;
    margin: 0 auto 70px;
  }
  .profile-pic {
    margin-right: 32px;
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
  .profile-card {
    display: flex;
  }
  .profile-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .field {
      display: flex;
      padding: 10px;
      .label {
        width: 150px;
      }
      .value {
        flex: 3;
      }
    }
  }
  .learning-goal {
    .goal {
      flex: 1;
    }
    .spacer {
      flex-basis: 50px;
    }
    .completion-date {
      flex: 1;
      line-height: 30px;
      align-items: center;
      font-size: 13px;
    }
  }
  h2 {
    margin-bottom: 30px;
  }
  .cancel-link {
    a {
      color: $text-primary;
      text-decoration: underline;
    }
  }
}

.ui-datepicker {
  background: white;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
  padding: 16px;
  color: $text-primary;
  .ui-datepicker-prev, .ui-datepicker-next {
    font-size: 13px;
    cursor: pointer;
    span {
      color: $button-primary;
    }
  }
  .ui-datepicker-next {
    float: right;
  }
  .ui-datepicker-calendar {
    td, th {
      text-align: center;
      width: 30px;
      height: 30px;
    }
    .ui-state-default {
      color: $primary;
    }
  }
}
