.viking-advert {

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $very-pale-grey;
    align-items: center;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: left;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__pitch {
    font-size: 1.5rem;
    display: inline-block;
    color: $grey;
    width: 70%;
    letter-spacing: 0.3px;
    line-height: 1.5;

      @include media-breakpoint-down(md) {
        padding-bottom: 20px;
      }
  }


  &__body {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center
    }
  }

  &__brand {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__brand-anchor {
    text-decoration: none;
  }

  &__logo {
    height: 60px;
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__brand-name {
    font-weight: bold;
    font-size: 1.5em;
    color: $viking-logo-text;
    margin-bottom: 0;
  }

  &__icons-group {
    display: flex;
    align-items: center;
    list-style: none;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__icons-group-item {
    margin-left: 30px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
      margin-left: 0;
    }
  }

  &__icon {
    height: 40px;
  }

  &__icon-text {
    color: $text-primary;
    font-weight: bold;
  }
}
