
<div id="contact-user">
  <h1>Contact <%= @user.username %></h1>

  <form method="post" action="<%= user_contact_path(@user) %>">
    <div class="subject">

    </div>

    <div class="body">

    </div>

    <input type="submit" class="btn btn-primary">

  </form>

</div>