

/*Application Color Palette*/

/* Grayscale */
$off_white: #eee;
$vlight_gray: #ccc;
$lt_on_dark_gray: #aaa;
$light_gray: #999;
$mid_gray: #666;
$dark_gray: #444;
$text_gray: #222;
$vdark_gray: #222;
$code_bg_gray: #f8f8f8;
$code_text_gray: $mid_gray;

/* high level stuff */
$background_color: #ffffff;//#fafffd; //#f9faf7;
$dark_blue: #203550;
$main_blue: #203580;
$accent_blue: #40659f; /* or 3e679c */

$font_weight: 200;
$highlight_orange: #f60; // red-orange
$faded_orange: #fb9;
$very_faded_orange: #fec;
$dark_orange: #c30;
$link_color: #2ba6cb;
$link_color_hover: #2284a1;
$link_color_visited: #07a;
$link_color_bootstrap: #08c;

$button_green: #0f0;
$button_green_hover: #0f0;
$button_green_focus: #0f0;
$button_green_active: #0f0;
$box_shadow: #4C4C4C;


$panel-color: rgba(0,0,0,0.5);
$nav-color: rgba(255,255,255,0.5);  
