

/*Application Color Palette*/

$dark_blue: #203550;
$main_blue: #203580;
$accent_blue: #40659f; /* or 3e679c */
$light_gray: #b0b0b0;
$mid_gray: #4f4f4f;
$text_gray: #222;
$background_color: #fdfffb; //#f9faf7;
$font_weight: 200;
