

/*Application Color Palette*/

$background_color: #fafffd; //#f9faf7;
$dark_blue: #203550;
$main_blue: #203580;
$accent_blue: #40659f; /* or 3e679c */
$vlight_gray: #ccc;
$light_gray: #999;
$mid_gray: #666;
$dark_gray: #444;
$text_gray: #222;
$font_weight: 200;
$highlight_orange: #f60; // red-orange
$dark_orange: #c30;
$link_color: #2ba6cb;
$link_color_hover: #2284a1;
$link_color_visited: #07a;
