// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CoursesController{

  p{
    font-size: 1.25em;
    line-height: 1.5em;
  }
  h5{
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: bold;
  }
  h4{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
  }
  h3{
    font-size: 2em;
    line-height: 1.25em;
    font-weight: bold;
  }
  h2{
    font-size: 2.5em;
    line-height: 1.25em;
    font-weight: bold;
  }
  h1{
    font-size: 3.5em;
    line-height: 1em;
    font-weight: bold;
  }

  .container{
    width: 45em;
    
    .subheading{
      p{
        font-size: 1em;
        line-height: 1.25em;
      }
    }




  }



}