// Place all the styles related to the Curriculum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
#lesson-nav{
  height: 1.75em;
  z-index: 100;
  width: 100%;
  display: inline-block;
  font-size: .75em;
  margin: -15px 2em 0 2em;
  padding-top: 8px;
  position: fixed;
  background-color: $background_color; //rgba(255,255,255,1);
  box-shadow: 3px 6px 9px $background_color; //rgba(255,255,255,1);
  &:hover > .inner-nav{
    opacity: 1;
  }
  .inner-nav{
    display: inline-block;
    opacity: .5;
  }
}
@media (max-width: 979px) { 
  #lesson-nav{
    position: absolute;
  }
}

