// Place all the styles related to the Curriculum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#curriculum{
  /* User styles */
  font-size: 1.25em;

  p{
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    line-height: 1.5em;
  }

  h1{
    margin-bottom: 1em;
  }

  h2, h3, h4, h5{
    margin-top: 1.5em;
  }
  ul, ol, li{
    line-height: 1.5em;
  }

  code{
    color: #666;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 80%;
  }

  .project-content h1, .project-content h2{
    color: #f60;
  }

  #header_wrap h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #header_wrap h2{
    font-size: 25px;
    padding-left: 10px;
    margin-top: 15px;
  }

  #contribute-notice{
    font-size: 80%;
    font-weight: 300;
    color: #888;
    letter-spacing: 1px;
  }

  #sidebar{
    font-size: 90%;
  }

  #forkme_banner {
    display: block;
    position: absolute;
    top:60px;
    right: 10px;
    height: 25px;
    width: 140px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url("blacktocat.png") #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .social{
    position: absolute;
    top: 105px;
    right: 10px;
    width: 200px;
    padding: 15px 0px 0px 0px;
    text-align: right;
    display: inline-block;
  }
  .social-button{
    width: 115px;
    height: 25px;
    display:inline-block;
    padding: 5px 0px;
  }

  .facebook{
    /*padding-top:10px;*/
    padding-right: 32px;
  }
  .twitter{
    /*padding-top: 10px;*/
  }
  .google-plus{
    /*padding-top: 10px;*/
  }

  .coming-soon{
    color: gray;
    font-size: 80%;
  }
  .project-link{
    color: #f60;
  }
  #main_content ol>li{
    
  }
  #main_content{

  }
}