:root {
  --dark-bg-color: #1A1A1B;
  --dark-bg-accent: #222;
  --dark-font-color: rgb(215, 218, 220);
  --dark-header-color: #D7DADC;
  --dark-pseudocode-color: #e83e8c;
  --dark-input-bg-color: #313131;
}

.section-lessons__item__link:hover,
#student-solutions a:hover a:visited {
  color: var(--dark-font-color) !important;
  text-decoration: underline !important;
}

.button--transparent {
  background-color: var(--dark-bg-accent) !important;
  color: var(--dark-header-color) !important;
  border: solid 3px var(--dark-font-color) !important;
}

body,
.navbar,
.card-main,
.card-block,
.card-header,
#footer,
.modal {
  background-color: var(--dark-bg-color) !important;
}

.lesson-functions,
.course-card,
.gradient,
.bg-whitesmoke,
.lesson-content__panel,
.odin-dropdown__menu,
.benefits,
.odin-dark-bg-accent,
.odin-dark-dropdown-menu {
  background-image: none !important;
  background-color: var(--dark-bg-accent) !important;
}

.course-badge-tile,
.odin-dark-mobile-menu,
.odin-dark-nav-item,
.odin-dark-bg,
.hero {
  background-color: var(--dark-bg-color) !important;
  background: var(--dark-bg-color) !important;
}

.odin-dark-link {
  color: var(--dark-font-color) !important;
}

.course-badge-tile:hover {
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.5) !important;
}

h1,
h2,
h2.bold,
h3,
h4,
h5,
h6,
.active,
.course-card-header__title,
.course-description__heading,
.error-message__sub-title,
.footer-link,
.internal-link,
.lesson-navigation__link,
.nav-link,
.text-notification,
.viking-advert__brand-name,
.viking-advert__pitch,
.odin-dark-nav-item,
.odin-dark-icon,
.odin-dark-text  {
  color: var(--dark-header-color) !important;
}

.lesson-navigation__circle {
  background-color: var(--dark-font-color) !important;
}

p,
ol,
li,
a:hover,
.accent:hover,
.far,
.form__element,
.form__element::placeholder,
.form__link-section__item,
.text-notification:hover,
.lesson-button:hover i {
  color: var(--dark-font-color) !important;
}

.dark-form-input {
  background-color: var(--dark-input-bg-color) !important;
}

pre:not(.line-numbers) code {
  color: var(--dark-pseudocode-color) !important;
}

.react-modal__body,
.react-modal__body h1 {
  background-color: var(--dark-bg-color) !important;
  color: var(--dark-font-color) !important;
}

.react-modal__body .form__element {
  background-color: var(--dark-bg-accent) !important;
  color: var(--dark-font-color) !important;
}

.submissions__button {
  color: var(--dark-bg-accent) !important;
}

.submissions__button:hover,
.fa-map,
.fa-arrow-alt-circle-right {
  color: var(--dark-header-color) !important;
}

.advert__icon {
  filter: invert(1);
}

.odin-dark-clear-button {
  color: var(--dark-font-color) !important;
}

.odin-dark-clear-button:hover {
  color: black !important;
}
