
/* Application Font Palette */
$headline_fonts: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body_fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-fonts: "Palatino Linotype", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font: 'Inconsolata', monospace;
$grotesque-font: 'Montserrat', $body-fonts; 