@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/* Application Font Palette */
$headline_fonts: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body_fonts: "Open Sans" "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-fonts: "Palatino Linotype", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font: 'Inconsolata', monospace;
$grotesque-font: 'Montserrat', $body-fonts;
@font-face {
  font-family: "Norse";
  src: font_url('Norse-Bold.otf');
}
