// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.individual-lesson{
  /* User styles */
  font-size: 1.25em;
  margin: 2em auto;
  input, button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  p{
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    line-height: 1.5em;
  }

  h1{
    margin-bottom: 1em;
  }

  h2, h3, h4, h5{
    margin-top: 1.5em;
  }
  h2{
    margin-bottom: 1em;
  }
  ul,ol{
    margin-left: 1.5em;
  }
  ul, ol, li{
    line-height: 1.5em;
  }
  ol>li{
    margin: .5em 0;
  }
  li > ol, li > ul{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  li > p{
    margin: 0 inherit;
  }
  pre{
    font-size: .75em;
    line-height: 1.5em;
    background-color: $code_bg_gray;
    color: $code_text_gray;
    margin: 1em inherit;
  }
  code{
    color: $code_text_gray;
    background-color: $code_bg_gray;
    border: 1px solid #ddd;
    font-size: .75em;
  }
  pre > code{
    border: none;
    font-size: 1em;
    line-height: 1.5em;
  }
  .container{
    max-width: 32em;
  }

  .project-content h1, .project-content h2{
    color: #f60;
  }

  #header_wrap h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #header_wrap h2{
    font-size: 25px;
    padding-left: 10px;
    margin-top: 15px;
  }

  #contribute-notice{
    font-size: 80%;
    font-weight: 300;
    color: #888;
    letter-spacing: 1px;
  }

  #forkme_banner {
    display: block;
    position: absolute;
    top:60px;
    right: 10px;
    height: 25px;
    width: 140px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url("blacktocat.png") #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .social{
    position: absolute;
    top: 105px;
    right: 10px;
    width: 200px;
    padding: 15px 0px 0px 0px;
    text-align: right;
    display: inline-block;
  }
  .social-button{
    width: 115px;
    height: 25px;
    display:inline-block;
    padding: 5px 0px;
  }

  .facebook{
    padding-right: 32px;
  }

  .coming-soon{
    color: gray;
    font-size: 80%;
  }
  .project-link{
    color: #f60;
  }
    
  .action-box{
    text-align: center;
    border-top: 1px solid $light_gray;
    padding: 1.5em 2em 2.5em 2em;
    margin: 3em -2em 0em -2em;

    h1{
      margin: 1em 0 .5em 0;
    }
    h3{
      margin: 1em 0;
    }

    .forward-button{
      margin: 1.5em 0;
      button{
        width: 15em;
        height: 4em;
        font-size: 1.25em;
        line-height: 1.25em;
        background-color: $link_color_visited;
        color: white;
        border-radius: .5em;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        -o-border-radius: .5em;
        border: 0;
        &.project-button{
          background-color: $highlight_orange;
          &:hover{
            background-color: $dark_orange;
          }
        }
        &:hover{
          background-color: $link_color_hover;
        }
      }
    }
    .nav-link{
      margin: .5em 0;
      font-size: .85em;
    }
  }
}

#lesson-nav{
  height: 1.75em;
  width: 100%;
  display: inline-block;
  font-size: .75em;
  // margin: -15px 2em 0 2em;
  padding-top: 8px;
  position: fixed;
  top: 46px;
  background-color: $background_color; //rgba(255,255,255,1);
  box-shadow: 3px 6px 9px $background_color; //rgba(255,255,255,1);
  &:hover > .inner-nav{
    opacity: 1;
  }
  .inner-nav{
    display: inline-block;
    opacity: .5;
  }
}
@media (max-width: 979px) { 
  #lesson-nav{
    position: absolute;
    z-index: -100;
  }
}

/* This style adds to the 'individual-lesson' class */
.project-lesson{
  h1{
    color: $highlight_orange;
  }
  h2{
  }
}

/* Covers the section at the bottom of each lesson where the
user can mark it completed or not completed */
.completion-wrapper{
  a:hover{
    text-decoration: none;
  }
  a.lc-uncomplete-link{
    font-size: .75em;
  }
  a.lc-signin-link{
    font-size: 1.25em;
    font-style: italic;
  }

  .checkbox-container {
    border: 2px dashed $vlight_gray;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    padding: 15px;
    text-align: left;
    width: 350px; 
    background-size: 86px 86px !important;
    
    h3 {
      padding: 0;
      margin: 5px 0 10px 115px!important;
      font-size: 1.75em;
    }
    form {
      margin: 0;
    }
  }

  /*  This is like a function (it's from SASS) so we don't
      have to repeat ourselves all the time below */
  @mixin checkbox-bg($path){
    background: url($path) 25px 20px no-repeat;
  }

  .lc-unchecked{
    @include checkbox-bg("icons/lc_unchecked.svg");
  }
  .lc-hover{
    @include checkbox-bg("icons/lc_hover.svg");
  }
  .lc-checked{
    @include checkbox-bg("icons/lc_checked.svg");
  }
  .lc-waiting{
    @include checkbox-bg("icons/ajax-loader.gif");
    background-size: 47px 43px !important;
  }
  .lc-disabled{
    color: $vlight_gray;
    @include checkbox-bg("icons/lc_logged_out_3.svg");
  }
}

