/* SASS awesome mixins */
@mixin black-links{
  a{
    color: black;
    &:hover{
      text-decoration: none;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($degrees) {
  transform:rotate($degrees);
  -ms-transform:rotate($degrees); /* IE 9 */
  -webkit-transform:rotate($degrees); /* Opera, Chrome, and Safari */
}