/* SASS awesome mixins */
@mixin black-links{
  a{
    color: black;
    &:hover{
      text-decoration: none;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}