@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin input-placeholder($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  ::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
    opacity: 1;
  }
}
