// Colors
$primary: #cc9543;
$text-primary: #4a4a4a;
$grey: rgba(74, 74, 74, 0.7);
$pale-grey: rgba(74, 74, 74, 0.3);
$very-pale-grey: rgba(0, 0, 0, 0.1);
$light-grey: #eee;
$pale-grey-bg: rgba(0, 0, 0, 0.03);
$dark-grey: #ddd;
$white: #fff;
$white-smoke: #f3f3f3;
$black: #000;
$dusty-orange: #ec761f;
$camo: #8e8e4c;
$coffee: #a6824a;
$light-orange: #ce973e;
$whitish-grey: #d8d8d8;
$red-danger: #dd4b39;
$google-color: #dd4b39;
$success-color: #96B874;
$advert-logo-text: #11343d;

//buttons
$button-primary: #6abfc3;
$button-seconday: #cc9543;
$github-brand-color: $text-primary;
$google-brand-color: #4d90fe;
$button-disabled: rgba(216, 216, 216, 0.8);
