@import "colors";
@import "fonts";
@import "mixins";
//
// /* Assumed: Bootstrap has done the CSS resets for us */

p {
  margin: 0px;
}

html {
  font-family: $body-fonts;
  height: 100%;
}

body {
  margin: 0;
  background-color: #F7F7F7;
  font-size: 100%; // 16px
  min-height: 100%;
  position: relative;
}
.nav-spacer{
  padding-top: 51px;
}
@media (max-width: 979px){
  .nav-spacer{
    display:none;
  }
}
//
// #global-content-wrapper{
//   padding-bottom: $footer_height+$footer_padding*2;
// }

.homepage-hero {
  width: 100%;
}

/* Admin Flash CSS */
.admin-flash-text {
  padding-left: 50px;
  text-align: center;
}

.admin-flash-message {
  margin-left: 40px;
  margin: 0px;
  position: relative;
  z-index: 10;
}
/* end of Admin Flash CSS */


// Social Sharing Buttons
.social_sharing_buttons {
  letter-spacing: 5px;
  a {
    color: black;
    font-size: 2em;
    opacity: 0.2;

    &:hover { opacity: 0.5; }
  }
}
// End of Social Sharing Buttons

footer {
  background-color: #fff;
  padding: 0;
  text-align: center;
  font-size: 1em;
  min-height: 277px;
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;
  .footer-logo {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
  }
  .footer-social {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    a {
      flex:1;
    }
  }
  .footer-links{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    .footer-links-container {
      width: 112px;
      height: 90px;
      display: flex;
      flex-direction: column;
    }
    a{
      flex:1;
      color: rgba(74, 74, 74, 0.7);
      font-weight: bold;
      text-decoration: none;
      display: flex;
      margin: 0;
    }
  }
}

.navbar{
  padding: 20px 5% 0px 5%;
  margin-bottom: 50px;
  nav {
    color: #676767;
    .navbar-nav {
      li {
        color: #676767;
        font-size: 1.1em;
        a {
          text-decoration: none;
          letter-spacing: 0.2px;
          line-height: 100px;
        }
        .nav-link {
          color: #676767;
        }
      }
      .divider {
        font-size: 1.5em;
        line-height: 90px;
      }
    }
  }
}

.navbar-toggler-right {
  top: 45px;
  right: 5%;
}



.logo {
  font-family: $logo-fonts;
  float: left;
  a {
    text-decoration: none;
  }
  .logo-text{
    color: #cc9543;
    padding-left: 10px;
    line-height: 100px;
    text-transform: uppercase;
    font-family: Norse;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-size: 1.8em;
    display: inline-block;
  }
  .logo-img{
    float: left;
    height: 100px;
  }
}

.pagination-wrapper{
  text-align: center;
}
.pagination{
  text-align: center;
  font-size: 1.5em;
  margin: 1em auto;
  display: inline-block;
  line-height: 1em;
  font-weight: bold;
  padding: .35em 1em;
  a, .previous_page, .current, .next_page{
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 2em;
  }
  .next_page, .previous_page{
    width: 6em;
  }
}

/* ********* User Pages ************* */

#profile-page{
  margin-bottom: 40px;
  margin-top: 40px;
}

.profile-photo-container{
  max-width: 270px;
  max-height: 270px;
  height: 270px;
  text-align: right;
  border: 1px solid $vlight_gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  & a{
    top: 10px;
  }
}

.profile-contact-links{
  ul{
    list-style-type: none;
  }

  & .social-links{
    font-size: 40px;
    & li{
      display: inline;
    }
    & a:hover{
      text-decoration:none;
    }

    & .fa-twitter{
      @include social-link(#4099FF);
    }
    & .fa-facebook-square{
      @include social-link(#3b5998);
    }
    & .fa-linkedin{
      @include social-link(#007bb6);
    }
    & .fa-google-plus{
      @include social-link(#dd4b39);
    }
    & .fa-github{
      @include social-link(#333);
    }
  }
}

h2.profile-headline{
  display: inline-block;
  color: $box_shadow;
}
.edit-profile{
  display: inline-block;
  margin: 0px 0px 15px 25px;
}

.edit-gravatar{
  position: relative;
}

a.edit-projects{
  margin-left: 25px;
}

.profile-about{
  height: 130px;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

form#edit-user{
  textarea{
    width: 100%;
    height: 100%;
  }
}

.student{
  margin-bottom: 15px;
  /*padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(100,100,255,.05);*/
  h3{
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .student-pic{
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-left: 30px;
    border: 1px solid $vlight_gray;
  }
  .student-info{
    margin-left: 20px;
    width: 60%;
    float: left;
    max-height: 100px;
    overflow: auto;
  }
}

.student-mini-pic{
  width: 100px;
  height: 100px;
}
.profile-projects{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    & ul{
      list-style-type: none;
    }
    &  .fa-check{
      color: $button_green;
    }
    & p{
      margin-left: 20px;
    }
}
/* ****************** FORUM ********************** */
#forum{

  margin: 0px 0 80px;

  h1{
    margin: 1em 0;
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
    line-height: 1.5em;
    color: $light_gray;
    margin: 0px 20px 30px 20px;
    font-style: italic;
  }
}

/* ****** Lesson .navbar && #lesson-nav Scroll Effect ****** */
.scroll--down, .scroll--up {
  @include linear-transform(300ms);
}
// IE8 support
.navbar-fixed-top.scroll--down.ie8--onScroll{
  top: -50px;
}

.chat-floating-btn {
  background: $seafoam-blue;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.09);
  cursor: pointer;
  padding: 1em;
  position: fixed;
  right: 20px;
  z-index: 1000;
  &:hover {
    box-shadow: 0 0 15px 6px rgba(0,0,0,0.09);
  }
  .fa.fa-comments {
    font-size: 2em;
    color: $background_color;
  }
}

.gitter-chat-embed {
  z-index: 10000;
}

/* ****************** MEDIA QUERIES ********************** */
@media (max-width: 992px) {
  .divider {
    display: none;
  }

  .navbar {
    nav {
      .navbar-nav {
        margin-top: 20px;
        li {
          a {
            line-height: normal;
          }
        }
      }
    }
  }

  h1 {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 100%;
    .logo-img {
      float: none;
    }
  }

  h2 {
    max-width: 80%;
    margin: 0 auto;
  }
}
