// /* Assumed: Bootstrap has done the CSS resets for us */

p {
  margin: 0px;
}

html {
  font-family: $body-fonts;
  height: 100%;
}

body {
  margin: 0;
  background-color: #F7F7F7;
  font-size: 100%; // 16px
  min-height: 100%;
  position: relative;
}

/* ********* User Pages ************* */

#profile-page{
  margin-bottom: 40px;
  margin-top: 40px;
}

.profile-photo-container{
  max-width: 270px;
  max-height: 270px;
  height: 270px;
  text-align: right;
  border: 1px solid $vlight_gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  & a{
    top: 10px;
  }
}

.profile-contact-links{
  ul{
    list-style-type: none;
  }

  & .social-links{
    font-size: 40px;
    & li{
      display: inline;
    }
    & a:hover{
      text-decoration:none;
    }

    & .fa-twitter{
      @include social-link(#4099FF);
    }
    & .fa-facebook-square{
      @include social-link(#3b5998);
    }
    & .fa-linkedin{
      @include social-link(#007bb6);
    }
    & .fa-google-plus{
      @include social-link(#dd4b39);
    }
    & .fa-github{
      @include social-link(#333);
    }
  }
}

h2.profile-headline{
  display: inline-block;
  color: $box_shadow;
}
.edit-profile{
  display: inline-block;
  margin: 0px 0px 15px 25px;
}

.edit-gravatar{
  position: relative;
}

a.edit-projects{
  margin-left: 25px;
}

.profile-about{
  height: 130px;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

form#edit-user{
  textarea{
    width: 100%;
    height: 100%;
  }
}

.student{
  margin-bottom: 15px;
  /*padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(100,100,255,.05);*/
  h3{
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .student-pic{
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-left: 30px;
    border: 1px solid $vlight_gray;
  }
  .student-info{
    margin-left: 20px;
    width: 60%;
    float: left;
    max-height: 100px;
    overflow: auto;
  }
}

.student-mini-pic{
  width: 100px;
  height: 100px;
}
.profile-projects{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    & ul{
      list-style-type: none;
    }
    &  .fa-check{
      color: $button_green;
    }
    & p{
      margin-left: 20px;
    }
}
