/*The following styles are from Agile Ventures Website one
https://github.com/AgileVentures/WebsiteOne/blob/32c90a96dbc34299220b8d66d7fe1f127f716233/app/assets/stylesheets/social.css*/

.social-wrapper {
  padding: 50px 0 30px;
  text-align: center;
  border-top: 1px solid #ddd;
  h3{
    color: #aaa;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
}
.btn-social {
    position: relative;
}

.providers-button:before{
    position: absolute;
    left: 20px;
    bottom: 6px;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-social.btn-large :first-child {
    line-height: 45px;
    width: 70px;
    font-size: 1.5em;
    padding-top: 18px;
}

.btn-github {
    color: #fff;
    background: #444;
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 75px;
    padding-right: 30px;
    min-width: 253px;
    line-height: 1.5em;
    font-size: 25px;
    border-radius: 15px;
}
@media(max-width: 480px){
    .btn-github{
        margin-left:0;
    }
    .social-wrapper{
        text-align: left;
        h3{
            margin-left: 0;
            text-align: center;
        }
    }
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    color: #fff;
    background: #303030;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    background: #565656;
}



