/*The following styles are from Agile Ventures Website one
https://github.com/AgileVentures/WebsiteOne/blob/32c90a96dbc34299220b8d66d7fe1f127f716233/app/assets/stylesheets/social.css*/
#user_email, #user_password {
    padding: 15px;
}
.border {
    border: 2px dotted red;
}
.social-wrapper {
  padding-bottom: 30px;
  margin-left: 30px;
  border-bottom: 2px dotted black;
}
.btn-social {
    position: relative;
    padding-left: 44px;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
    padding-left: 61px
}

.btn-social.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-github {
    color: #fff;
    background: #444;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    color: #fff;
    background: #303030;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    background: #565656;
}



