// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'lessons';
@import 'mixins';
@import "fonts";

/*Namespacing all the home page styles*/

#home-page{
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: $greyish-brown
  }
  h3 {
    font-weight: bold;
    font-size: 1.2em;
    color: $greyish-brown
  }
  p {
    font-weight: normal;
    font-size: 1em;
    color: $greyish-brown;
    line-height: 1.88;
    letter-spacing: 0.2px
  }

  header {
      background: linear-gradient(to top, #f8f8f8, #fff);
      padding-bottom: 60px;
    h1 {
      font-family: $headline-fonts;
      font-size: 3em;
      color: $camel;
      font-weight: 300;
      margin-bottom: 30px;
      letter-spacing: 0.4px;
    }
    h2 {
      color: $camel;
      text-align: center;
      font-weight: 600;
      font-size: 1.4em;
      letter-spacing: 0.2px;
    }
    .signup-cta {
      text-decoration: none;
      background-color: #6abfc3;
      color: #ffffff;
      display: block;
      width: 200px;
      text-align: center;
      height: 60px;
      border-radius: 3px;
      line-height: 60px;
      margin: 70px auto 0;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: bold;
      letter-spacing: 0.2px;
      font-size: 18px;
    }
  }

  .how-it-works {
    min-height: 400px;
    padding-top: 140px;
    margin-bottom: 160px;
    .how-it-works-title {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 100px;
      p {
        padding-top: 1em;
      }
    }
    .how-it-works-tiles {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      min-height: 400px;
      text-align: center;
      .tile {
        padding: 1em;
        flex: 1;
      }
    }
  }
  .curriculum-details {
    .view-curriculum-details {
      text-decoration: none;
      background-color: $camel;
      color: #ffffff;
      display: block;
      text-align: center;
      padding: 0 1.5em 0 1.5em;
      width: 250px;
      height: 60px;
      border-radius: 3px;
      line-height: 60px;
      margin: 70px auto 70px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: bold;
      letter-spacing: 0.2px;
      font-size: 18px;
    }
    .curriculum-details-title {
      text-align: center;
      margin-bottom: 100px;
      .coffee {
        color: $coffee;
      }
      .orange {
        color: $dusty-orange;
      }
      .camo {
        color: $camo;
      }
    }
    .curriculum-details-grid {
      display: flex;
      max-width: 1280px;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      .curriculum-details-tile {
        text-align: center;
        flex: 1;
        height: 340px;
        flex-basis: 33%;
        padding-top: 2em;
        h3 {
          margin-bottom: .2em;
        }
        p {
          font-size: .9em;
        }
      }
    }
  }
  .success-stories {
    min-height: 990px;
    width: 100%;
    background: linear-gradient( to top, $white-two, #fff);
    padding-bottom: 60px;
    .success-stories-title{
      width: 100%;
      text-align: center;
      padding-top: 120px;
      letter-spacing: 0.3px;
    }
    .success-stories-container{
      color: $greyish-brown;
      max-width: 1280px;
      min-height: 400px;
      margin: 0 auto;
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      .success-story{
        flex-basis: 49.9%;
        display: flex;
          .photo {
            flex-basis: 100px;
            text-align: center;
            padding-top: 16px;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%
            }
          }
          .success-content {
            flex: 1
          }
      }
    }
    .success-stories-read-more {
      width: 100%;
      text-align: center;
      a {
        color: rgba(74, 74, 74, 0.7)
      }
    }
    .success-stories-sign-up {
      margin-top: 50px;
      font-size: 2.2em;
      font-weight: light;
      width: 100%;
      text-align: center;
      letter-spacing: 0.4px;
      color: rgba(74, 74, 74, 0.7);
    .signup-button {
      text-decoration: none;
      background-color: #6abfc3;
      color: #ffffff;
      display: block;
      width: 15%;
      text-align: center;
      height: 60px;
      border-radius: 3px;
      line-height: 60px;
      margin: 60px auto 60px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      font-weight: bold;
      letter-spacing: 0.2px;
      font-size: 18px;
    }
    }
  }

}  /* END OF NAMESPACING HOME PAGE */




#devise-form{

  margin: 3em auto 12em;
  max-width: 600px;

  h2{
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 0px;
    font-size: 3rem;
  }
  p.explanation{
    margin: 2em 0;
    font-style: italic;
    font-size: 1.25rem;
    color: $light_gray;
  }
  .form-inputs{
    label{
      font-size: 25px;
      margin-bottom: 8px;
      line-height: 25px;
    }
    input{
      width: 350px;
      height: 30px;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
    }
    select{
      width: 550px;
      height: 250px;
      font-size: 25px;
    }
  }
  .legal-wrapper{
      margin: -10px 0 20px 180px;
      max-width: 364px;
    .help-inline{
      color: #b94a48;
    }
    .legal-checkbox{
      padding: 5px;
      &.error{
        margin-top: 30px;
        padding: 10px;
        border: 1px solid #b94a48;
        @include border-radius(4px);
        abbr{
          color: #b94a48;
        }
      }

      abbr{
        font-size: 20px;
      }
      .legal-text{
      }
      input{
        height: 20px;
        width: 20px;
        padding: 10px;
        margin: 0 5px 0 0;
      }
    }
  }
  input.btn{
    margin-right: 20px;
    height: 60px;
    min-width: 150px;
    font-size: 25px;
    border-radius: 15px;
  }
  .devise-shared-links{
    margin-left: 185px;
    margin-top: 32px;
  }

}

.alpha-alert{
  margin: 1.5em 1em 3em;

  h3{
    color: red;
  }
  ol{
    margin-top: 1em;
    font-size: 75%;
    color: #333;
    li{
      margin-top: .5em;
    }
  }
}
.alert{
  position: relative;
  z-index: 11;
}

.alert-error{
  margin-bottom: 0;
}

.alert-none {
  display: none;
}

.signup-prompt-msg{
  margin: 1em 2em 2em 1em;
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #fafafa;
  @include border-radius(10px);

  p{
    color: #888;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.25em;
  }
}

.StaticPagesController{

  @extend .individual-lesson;
  .belief-heading{
    color: $highlight_orange;
    font-weight: bold;
  }
  .faq-question{
    color: $highlight_orange;
  }
  .odin-image{
    text-align: center;
  }
}


.contributing {

  @extend .individual-lesson;
  .container {
    // quick hack to override `position relative` inherited from .invididual-lesson
    position: static;
  }

  .star{
    padding:15px;
  }
  .paths{
    border: 1px solid $vlight_gray;
    box-shadow: 3px 3px 3px #efefef;
    padding:30px 30px;
    margin:10px 50px 30px;
    font-size:.7em;
    font-weight:300;
    border-radius:10px;

    h2, h3, h4, h5{
      margin-top:0px;
    }
  }
  .skill-header{
    margin-top: 20px;

    h2{
      margin-top: 24px;
    }
  }
  .more-button{
    color: $highlight_orange;
    cursor: pointer;
  }
  span.highlight{
    color:$highlight_orange;
    font-weight: normal;
  }
  .center{
    margin: auto;
    text-align: center;
  }
  .light-emphasis{
    color: #aaa;
  }

  #reasonsModal {
    .modal-header .modal-footer {
      height: 55px;
      padding: 5px 20px;
      background-color: #a1a1a1;
    }
    .modal-body {
      padding:5px 15px;
      margin:10px 20px;
      font-size:.75em;
      font-weight:300;
    }
  }

  .hof-card{
	  height: auto;
		min-width:410px;
    border: 1px solid $vlight_gray;
    box-shadow: 3px 3px 3px #efefef;
    padding:30px 30px;
    margin:90px 50px 30px;
    font-size:.7em;
    font-weight:300;
    border-radius:10px;
		.hof-links{
			float:left;
			a{
		  	font: arial;
	  		font-weight:600;
		  	font-family:Tahoma;
	  		font-size:1.4em;
  			letter-spacing:-0.8px;
  			text-decoration:none;
				color:black;
				opacity:0.4;
			}
			a:hover{
				opacity:0.6;
			}
			.blog{
				margin-left:-24px;
				margin-top:-45px;
			}
			.github{
				margin-left:-24px;
				margin-top:5px;
			}
		}
		.name-bg{
			height: 36px;
			margin:20px -60px 4px 76px;
			border-radius:12px;
			background: #5BB75B;
			h3 {
			color:white;
			margin-top:-4px;
			margin-left:30px;
			}
		}
		.bio{
			float:right;
			width:300px;
			margin-top:-36px;
		}
		p {
			min-height:110px;
			font-size:1.5em;
			font-weight:350;
		}
		.img {
			border:2px solid black;
			box-shadow: 5px 5px 5px #B28F6B;
			height:160px;
			width:160px;
			margin-left: -70px;
			margin-top: -55px;
			position:absolute;
		}
  }
}

/* styles for the chat page */

h1{
  text-align: center;
}


a.chat-btn{
  float: left;
  width: 40%
}


div.chat-actions a:first-child{
  margin-right: 3%;
}

div.chat-actions{
  width: 100%;

}

/* clearfix for the buttons container */
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

@media (max-width: 640px){
  div.chat-actions{
  margin: 0;
  width: 100%;
  }

  a.chat-btn{
    float: none;
    width: 90%;
    margin-top: 2%;

  }
}

.btn-static-pages-CTA {
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em auto;
  display: block;
}

@media (max-width: 992px) {
  #home-page {
    header {
      .signup-cta {
        width: 20%;
      }
    }
    .curriculum-details {
      .curriculum-details-grid {
        .curriculum-details-tile {
          flex-basis: 50%;
        }
      }
    }
    .success-stories{
      .success-stories-container {
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .success-story {
        flex: 1;
        padding-bottom: 2em;
        max-width: 600px;
        margin: 0 auto;
      }
      .success-stories-sign-up{
        .signup-button{
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home-page {
    header {
      .signup-cta {
        width: 30%;
      }
    }
    .how-it-works-tiles {
      flex-direction: column;
      .how-it-works-image {
        height: 120px;
      }
    }
  }
  footer {
    flex-direction: column;
    height: 400px;
    .footer-links{
      .footer-links-container {
        text-align: center;
        width: 40%;
      }
      a{
        justify-content: center;
      }
    }
  }
}
@media (max-width: 480px){
  #home-page {
    header {
      .signup-cta {
        width: 40%;
      }
    }
    .curriculum-details {
      .curriculum-details-grid {
        .curriculum-details-tile {
          flex-basis: 100%;
        }
      }
    }
  }

}
