// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'lessons';
@import 'mixins';

/*Namespacing all the home page styles*/

#home-page{

  font-family: 'Open Sans', sans-serif;

  h1,h2,h3,h4{
    font-family: 'Open Sans Condensed', sans-serif;
  }
  h1{
    font-size: 3.5em;
    font-weight: normal;
  }
  h2{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 125%;
    font-weight: bold;
    color: $dark_gray;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h3{
    font-size: 2em;
    font-weight: 300;
    line-height: 125%;
    color: $dark_gray;
  }
  h4{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 125%;
    color: $mid_gray;
  }
  p{
    font-weight: 300; 
    color: $mid_gray;
  }

  .img-wrapper{
    border: 1px solid $vlight_gray;
  }

  .narrow{
    max-width: 800px;
  }

  .content{
    padding: 30px 0px;
  }

  .section{
    margin: 80px auto;
  }

  .dark{
    background-color: #aaa;
    margin-left: -100%;
    margin-right: -100%;
  }


  .above-the-fold{
    // height: 600px;  
    width: 100%;
    background: $vlight_gray url("home_background_blur.jpg") no-repeat center center; // fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar{
    // background-color: $nav-color;
    padding: 4px 50px 0 50px;
    // border-bottom: 1px solid rgba(0,0,0,.15);
    // @include black-links;
    .menu-wrapper{
      padding-top: 8px;
      padding-right: 10px;
      float: right;
      font-size: .75em;
    }
  }

  .top-box{
    padding: 1em;
    margin: 1em auto 0 auto;
    max-width: 650px;
    background-color: $panel_color;
    @include border-radius(.25em);
    border: 1px solid #444;
    .headline{
      padding: 10px 0px 10px 0px;
      text-align: center;
      h1{
        line-height: 1em;
        color: white;
        margin: 0;
        padding: 0;
        // font-weight: bold;
      }
    }
    .subheading{
      margin: 0.5em 0 1em 0;
      text-align: center;
      h2{
        color: #f60;
        font-size: 1.5em;
        margin: 0;
        font-weight: normal;
        // font-weight: bold;
      }
    }
  }

  .cta-box-top-wrapper{
    margin-top: 70px;
    margin-bottom: 70px;
    .cta-box-top{
      border: 1px solid #444;
      @include border-radius(.25em);
      padding: 20px;
      margin: 0 0 0 0;
      background-color: $panel_color;
      text-align: center;
      width: 360px;

      button{
        width: 300px;
        height: 50px;
        margin: 0 auto;
        font-size: 1.35em;
        line-height: 1.25em;
        font-family: "Open Sans Condensed", sans-serif;
        @include border-radius(10px);
      }
      p{
        // text-align: left;
        font-size: .75em;
        font-weight: 300;
        // padding-left: 20px;
        color: white;
        margin-top: 20px;
      }
    }
  }


  
  .social-buttons{
    text-align: center;
    height: 100px;
    // background-color: $light_gray;
  }

  .social{
    padding: 30px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    .social-button{
      width: 115px;
      height: 25px;
      display:inline-block;
      padding: 5px 0px;
    }
    .facebook{
      padding-right: 10px;
    }
    .twitter{
    }
    .google-plus{
    }
  }



  .what-its-about{
    clear: both;
    h4{
      margin-top: 1em;
    }
    
    .about-panels{
      width: 750px;
      margin: 30px auto;

      .about-panel{
        float: left;
        width: 200px;
        margin: 0 25px;
        text-align: center;
        // text-overflow: wrap;
        .img-wrapper{
          width: 100px;
          height: 100px;
          margin: 30px auto;
          border: none;
        }
        h3{
          color: $highlight_orange;
        }
        p{
          font-weight: 300;
          font-size: .75em;
        }
      }
    }
  }



  .what-youll-learn{
    clear: both;
    @include black-links;

    .course-panels{
      margin: 30px auto;
      .course-panel{
        width: 450px;
        height: 100px;
        padding: 10px;
        &:hover{
          background-color: #eee;
        }

        .img-wrapper{
          width: 80px;
          height: 90px;
          float: left;
          margin-right: 15px;
          border: none;
        }
        .copy-wrapper{
          height: 90px;
          h3{
            margin-top: -.25em;
            margin-bottom: .25em;
          }
          p{
          font-weight: 300;
          color: $light-gray;
          margin-left: 7em;
          }
        }
      }

      // set the cascading left paddings for the panels
      @for $i from 1 through 7 {
        .p#{ $i }{
          margin-left: #{percentage($i * 6)/100};
        }
      }
      @media(max-width: 700px){
        .course-panel{
          margin-left: 0;
        }
      }
    }
  }



  .how-it-works{
    clear: both;
    h3{
      font-size: 2em;
      color: $highlight_orange;
    }

    .panel-wrapper{
      max-width: 800px; 
      // margin: 30px auto;
      .panel{
        float: left;
        width: 350px;
        padding: 0 25px;
        margin: 15px 0;
        text-align: center;

        .img-wrapper{
          width: 300px;
          height: 150px;
          margin: 0 auto;
        }
      }
    }
    .work-together{
      text-align: center;
      clear: both;

      .img-wrapper{
        width: 500px;
        height: 200px;
        margin: 0 auto;
      }
      .copy-wrapper{
        width: 450px;
        margin: 0 auto;
      }
    }
  }



  .why-awesome{
    clear: both;
    
    .panel-wrapper{
      max-width: 750px;
      margin: 30px auto;

      .panel{
        float: left;
        width: 250px;
        text-align: center;

        .img-wrapper{
          width: 150px;
          height: 150px;
          margin: 10px auto;
          border: none;
        }

        p{
          color: $mid_gray;
          font-size: .75em;
        }
        a{
          font-size: .75em;
        }

      }
    }
  }



  .clear-div{
    clear: both;
  }

  .cta-bottom{
    margin: 50px 0;
    text-align: center;

    button{
      width: 350px;
      height: 60px;
      line-height: 125%;
      font-size: 26px;
      padding: 0 20px;
      margin: 20px;
      border: 1px solid #999;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
    }
  }


}  /* END OF NAMESPACING HOME PAGE */




#devise-form{
  h2{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 40px;
  }
  .form-inputs{
    label{
      font-size: 25px;
      margin-bottom: 8px;
      line-height: 25px;
    }
    input{
      width: 350px;
      height: 30px;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
    }
    select{
      width: 550px;
      height: 250px;
      font-size: 25px;
    }
  }
  input.btn{
    margin-right: 20px;
    height: 60px;
    width: 150px;
    font-size: 25px;
    border-radius: 15px;
  }
  .devise-shared-links{
    margin-left: 185px;
    margin-top: 32px;
  }

}

#scheduler{
  p.warning{
    font-size: 120%;
    padding: 4px;
    background-color: #Fbb;
  }
  p.filters{
    font-size: 110%;
  }
  #time-zone{
    font-size: 10px;
    line-height: 0px;
    margin-bottom: 10px;
    color: gray;
    font-style: italic;
  }
}
#ajax-load{
  color: #0d0;
  background-color: $background_color;
  position: fixed;
  top: 45px;
  left: 20px;
  display: none;
}
.eventInfo{
  /*font-size: 75%;*/
  color: #aaa;
  padding: 5px;
  margin: 5px 0px;
}
.view-profile-link{
  font-weight: normal;
  font-style: italic;
  color: #08c;
}

.alpha-alert{
  h3{
    color: red;
  }
  ol{
    font-size: 75%;
    color: #333;
  }
}


.StaticPagesController{
  
  @extend .individual-lesson;
  .belief-heading{
    color: $highlight_orange;
    font-weight: bold;
  }
  .faq-question{
    color: $highlight_orange;
  }
  .odin-image{
    text-align: center;
  }
}


