h1, h2, h3, h4, p {
  color: $text-primary;
  font-family: $headline-fonts;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.4;
}
h2 {
  font-size: 24px;
  letter-spacing: 0.3;
}
h3 {
  font-size: 20px;
  letter-spacing: 0.2;
}
h4 {
  font-size: 18px;
  letter-spacing: 0.2;
}
p {
  font-size: 16px;
  letter-spacing: 0.2;
}
.small {
  font-size: 13px;
  letter-spacing: 0.2;
}
.secondary {
  color: $grey;
}
.disabled {
  color: $pale-grey;
}
.accent {
  color: $light-orange;
}
.bold {
  font-weight: bold;
}
