.push-down {
  margin-bottom: 1rem;
}

.push-down-2x {
  margin-bottom: 2rem;
}

.push-down-3x {
  margin-bottom: 3rem !important;

  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
}

.full-width {
  width: 100%;
}

.push-container-down {
  padding-bottom: 80px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  outline:none;
  text-decoration: none;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
outline:none;
}
