<div class="card faq-card" data-controller="reveal"> 
  <a role="button" data-action="click->reveal#toggle"> 
    <div class="card-header faq-card-header" role="tab">
      <h2 class="secondary bold faq-question-title text-2xl">
        <%= faq_item[:question] %>
      </h2>
      <i class="fas fa-chevron-down text-xl text-gray-500""></i>
    </div>
  </a>

  <div class="hidden" data-reveal-target="content">
    <div class="card-block">
      <%= faq_item[:answer].html_safe %>
    </div>
  </div>
</div> 
