.submissions {
  margin-bottom: 2em;
  text-align: left;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;

    @include media-breakpoint-down(sm) {
      display: block;
      text-align: center;
    }
  }

  &__title {
    font-size: 2.5em;
    font-weight: 500;
  }

  &__project-title {
    font-size: 1.5em;
    color: $grey;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }

  &__item {
    border-top: solid 1px $very-pale-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    @include media-breakpoint-down(sm) {
      position: relative;
      flex-direction: column;
    }
  }

  &__left-container {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1em;
    }
  }

  &__submission-title {
    font-weight: 600;
    font-size: 1.25rem;
    word-break: break-word;

    @include media-breakpoint-up(md) {
      margin-right: 20px;
      width: 200px;
    }
  }

  &__button {
    color: $grey;
    padding: 0.5rem 1rem;
    margin-right: 1em;
    background-color: $button-disabled;
    border-radius: 0.2em;
    font-weight: 600;
    text-align: center;

    &--edit {
      color: $grey;
      font-size: 0.905em;
      font-size:1.1em;

      &:before {
        content: "\f044";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }

      &:hover {
        color: $black;
      }

      &:focus{
        outline:none
      }  
      
      @include media-breakpoint-down(sm) {
        position: absolute !important;
        top: 5px;
        right: 0;
      }
    }
  }  

  &__actions {
    display: flex;
    align-items: center;

    & * {
      flex-shrink: 0;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      width: 60%;
    }

    @include media-breakpoint-down(xs){
      flex-direction: column;
      align-items: initial;
    }
  }

  &__flag {
    font-size: 1.217em;

    @include media-breakpoint-down(sm) {
      position: absolute !important;
      top: 5px;
      right: 0;
    }
  }

  &__flag,
  &__like {
    color: $button-disabled;
    cursor: pointer;
  }

  &__like {
    display: flex !important;
    align-items: center;
    margin-right: 15px;

    :first-child {
      margin-left: 5px;
    }

    .liked {
      color: #6abfc3 !important;
    }
  }

  &__view-more {
    text-align: center;
    padding: 1.5rem 0;

    a {
      text-decoration: none;
    }
  }

  &__blank-slate {
    text-align: center;
    color: $grey;
    font-weight: 700;
    padding: 1.5em 0em 0.5em;
    margin-bottom: 0;
  }
}
