<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">

      {% include header.html %}
      <div class="row">
        <div class="col-md-4" id="sidebar">
          {% include sidebar.html %}
        </div>
        <div class="col-md-8" id="content">
          <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
              {{ content }}
          </div>
        </div>
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>