*{
  font-family:arial, sans-serif;
  
}
.navbar{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:70px;
  
  
}
.navbar ul{
  position:aboslute;
  margin-top:26px;
  float:right; 
  margin-right:80px;
  }
  
.circle{
  height:50px;
  width:50px;
  border-radius:50%;
  margin: auto;
  margin-right:10px;
  position: absolute;
  top: 0; bottom: 0; left:;right:0;
  background: url(https://placeimg.com/50/50/any) no-repeat;
  
}

.container
{
  height:360px;
  width:500px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.inner,img{
  height:180px;
  width:300px;
  margin: auto;
  
}
.search{
  height:80px;
  width:500px;
  margin: auto;
}
input[type='search']{
  background: url(http://i1380.photobucket.com/albums/ah183/Max_Ny_Nd/voice_zpsdi2g2hyl.gif) no-repeat;
 background-size:14px 20px ;
 background-position: 99% 50%;
 }
input{
 margin-left:5px;
 border: rgba(0,0,0,0.1) 1px solid ;
 border-radius:2px;
 padding:5px;
 font-size:11px;
 font-weight:bold;
 color:#444;
  
}
button{
 border: rgba(0,0,0,0.1) 1px solid ;
 border-radius:2px;
 padding:5px;
 font-size:11px;
 font-weight:bold;
 color:#444;
}
.footer{
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  background:#F1F1E9;
  border-top:1px solid rgba(0,0,0,0.1);
}
ul{
  list-style:none;
  }
li{
  display:inline;
  padding:3px;
}
.ul1{
  float:left;
    
}
.ul2{  
  float:right;
  margin-right:30px;
 
  }
a{
  text-decoration:none;
  color:#444;
  font-size:small;
}
a:hover{
  text-decoration:underline;
}
       
