html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: black;
}

ol, ul {
  list-style: none;
  margin:0;
  padding: 0;
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

div {
	display: block;
	font-family: Arial, sans-serif;
	text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

input {
  width: 40%;
  padding: 12px 20px;
  border: solid 0.5px rgba(0,0,0,0.16);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}

button {
    height: 35px;
    background-color:#f2f2f2;
    border: none;
    color: #757575;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-weight: bold;
}

.tsf-p input [type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 35%;
  border: solid 0.5px rgba(0,0,0,0.16);
  border-radius: 1px;
  padding: 14px;
  

}


#google-logo{
	margin: auto;
	height: 92px;
	width: 272px;
	text-align: -webkit-center;
	margin-top: 110px;
}

#top-nav-bar {
    color: black;
    float: right;
    display: block;
    text-align:right;
    margin-top: 10px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 12.75px;
}

#top-nav-bar li{
  margin: 8px;
  width: 8px;
}

#top-nav-bar img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.footer-top {
	height: 40px;
  width: 100%;
	background-color: #f2f2f2;
	position: fixed;
	bottom: 40px;
	text-align: left;
  font-size: 15px;
  color: #757575;
  padding: 10px 25px;
  border: 1px solid #e0e0e0;  

}

.footer-lhs {
  height: 40px;
  width: 50%;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: 13px;
  padding: 10px 25px;
}

.footer-lhs a {
  color: #757575;
}

.footer-lhs li {
  display: inline-block;
  padding: 0 25px 0 0;
}

.footer-rhs {
  height: 40px;
  width: 50%;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 13px;
  padding: 10px 25px;
}

.footer-rhs a {
  color: #757575;
}

.footer-rhs li {
  display: inline-block;
  padding: 0 0 0 25px;
}

li{
	display: inline;
	text-align: center;
}





