<div class="curriculum-details">
  <div class="curriculum-details-title">
    <h2>Choose to learn from a path:
      <span class="coffee">Full Stack</span>,
      <span class="orange">Front End</span>,
      <span class="camo">Back End</span></h2>
    <h2>Or selectively learn from the following courses:</h2>
  </div> <!-- /.curriculum-details-title -->

  <%
    courses = [
      { badge_image_url: 'badge-html-css.svg', badge_alt_text: 'html css badge', title: 'HTML + CSS', lessons_count: 13 },
      { badge_image_url: 'badge-javascript.svg', badge_alt_text: 'javascript badge', title: 'Javascript', lessons_count: 13 },
      { badge_image_url: 'badge-git.svg', badge_alt_text: 'git badge', title: 'Git', lessons_count: 13 },
      { badge_image_url: 'badge-database.svg', badge_alt_text: 'databases badge', title: 'Databases', lessons_count: 13 },
      { badge_image_url: 'badge-ruby.svg', badge_alt_text: 'ruby badge', title: 'Ruby', lessons_count: 13 },
      { badge_image_url: 'badge-ruby-on-rails.svg', badge_alt_text: 'ruby on rails badge', title: 'Ruby on Rails', lessons_count: 13 },
      { badge_image_url: 'badge-getting-hired.svg', badge_alt_text: 'getting hired badge', title: 'Getting Hired', lessons_count: 13 }
    ]
  %>
  
  <div class="curriculum-details-grid">
    <% courses.each do |course| %>
    <div class="curriculum-details-tile">
      <%= image_tag course[:badge_image_url], alt: course[:badge_alt_text] %>
      <h3><%= course[:title] %></h3>
      <p><%= course[:lessons_count] %> LESSONS</p>
    </div> <!-- /.curriculum-details-tile -->
    <% end %>
  </div> <!-- /.curriculum-details -->

  <a href="<%= courses_path(ref: 'homenav') %>" class="view-curriculum-details">
    View Curriculum Details
  </a>
</div>
