<div class="curriculum-details-tile align-items-center">
  <%= image_tag course[:badge_image_url], alt: course[:badge_alt_text] %>
  <h3 class="text-uppercase">
    <%= course[:title] %>
  </h3>
</div>
