<div class="curriculum-details-title">
  <h2>Choose to learn from a path</h2>

  <p class="stacks">
    <span class="coffee">Full Stack</span>,
    <span class="orange">Front End</span>,
    <span class="camo">Back End</span>
  </p>

  <p class="grey">Or selectively learn from the following courses</p>
</div> <!-- /.curriculum-details-title -->
