<div class="curriculum-details bg-whitesmoke">
  <div class="curriculum-details-title">
    <h2 class="font-bold text-2xl">Learn everything you need to know to become a web developer</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row curriculum-details-grid">

          <% available_courses.each do |course| %>
            <%= link_to course[:path], :class =>"curriculum-details-tile align-items-center" do %>
              <%= image_tag course[:badge_image_url], alt: course[:badge_alt_text] %>
                <h4 class="font-bold uppercase text-lg">
                  <%= course[:title] %>
                </h4>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="text-center">
      <%= link_to 'Get Started', courses_path,
        class: 'button button--secondary' %>
    </div>
  </div>
</div>
