<div class="tile">
  <%= image_tag tile[:image], class: 'how-it-works-image', alt: 'how-it-works illustration' %>
  <h3 class='subtitle'><%= tile[:subtitle]%></h3>
  <div class="description">
    <p><%= tile[:description]%></p>
  </div>
</div> 
