<div class="how-it-works">
  <div class="how-it-works-title">
    <h2>How it works</h2>
    <p>This is the website we wish we had when we were learning on our own. Our curriculum includes the best resources we could find online and here it is.</p>
  </div> <!-- /.how-it-works-title -->

  <div class="how-it-works-tiles">
    <div class="tile">
      <%= image_tag 'img-learn.svg', class: 'how-it-works-image', alt: 'how-it-works illustration' %>
      <h3>Learn</h3>
      <p>Learn from a curriculum with the best curated online tutorials, blogs, and courses.</p>
    </div> <!-- /.tile -->

    <div class="tile">
      <%= image_tag 'img-build.svg', class: 'how-it-works-image', alt: 'how-it-works illustration' %>
      <h3>Build</h3>
      <p>Build dozens of portfolio-worthy projects along the way, from simple scripts to full programs and deployed websites.</p>
    </div> <!-- /.tile -->

    <div class="tile">
      <%= image_tag 'img-connect.svg', class: 'how-it-works-image', alt: 'how-it-works illustration' %>
      <h3>Connect</h3>
      <p>You’re not alone. Learn together by pairing up on projects with other students.</p>
    </div> <!-- /.tile -->
  </div> <!-- /.how-it-works-tiles -->
</div> <!-- /.how-it-works -->
