name: MarkdownLint
on:
  pull_request:
    paths:
      - '**.md'
      - '!*'
      - '!archive/**'
      - '!templates/**'
      - '!markdownlint/docs/**'
      - '!.github/**'

jobs:
  lesson_lint:
    name: Lint lesson/project files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tj-actions/changed-files@v46
        id: changed-files
        with:
          files: |
            **.md
            !*
            !archive/**
            !templates/**
            !markdownlint/docs/**
            !.github/**
          separator: ','
      - uses: DavidAnson/markdownlint-cli2-action@v14
        if: steps.changed-files.outputs.all_changed_files
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ','
