name: MarkdownLint
on:
    pull_request:
        paths:
            - '**.md'
            - '!*'
            - '!**/project_*'
            - '!**/project-*'
            - '!archive/**'
            - '!templates/**'
            - '!markdownlint/docs/**'
            - '!.github/**'

jobs:
    lesson_lint:
        name: Lint lesson files
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: tj-actions/changed-files@v41
            id: changed-files
            with:
              files: |
                **.md
                !*
                !**/project_*
                !**/project-*
                !archive/**
                !templates/**
                !markdownlint/docs/**
                !.github/**
              separator: ','
          - uses: DavidAnson/markdownlint-cli2-action@v14
            with:
              config: './lesson.markdownlint-cli2.jsonc'
              globs: ${{ steps.changed-files.outputs.all_changed_files }}
              separator: ','
