name: MarkdownLint
on:
  pull_request:
    paths:
      - '**/project_*.md'
      - '**/project-*.md'
      - '!*'
      - '!archive/**'
      - '!templates/**'
      - '!markdownlint/docs/**'
      - '!.github/**'

jobs:
  project_lint:
    name: Lint project files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tj-actions/changed-files@v41
        id: changed-files
        with:
          files: |
            **/project_*.md
            **/project-*.md
            !*
            !archive/**
            !templates/**
            !markdownlint/docs/**
            !.github/**
          separator: ','
      - uses: DavidAnson/markdownlint-cli2-action@v14
        if: steps.changed-files.outputs.all_changed_files
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ','